<p id="notice"><%= notice %></p>

<h1>Listing Practice Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @practice_schedules.each do |practice_schedule| %>
      <tr>
        <td><%= practice_schedule.title %></td>
        <td><%= link_to 'Show', practice_schedule %></td>
        <td><%= link_to 'Edit', edit_practice_schedule_path(practice_schedule) %></td>
        <td><%= link_to 'Destroy', practice_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Practice schedule', new_practice_schedule_path %>
