<button type="button" class="btn btn-custom1 btn-block" data-toggle="modal" data-target="#mynewscript">
  Create New Script   
</button>

<!-- Modal - new script -->
<%= form_for [@event, @new_script], remote: true do |f| %>
<div class="modal fade" id="mynewscript" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><strong>Create New Script</strong></h4>
      </div>
      <div class="modal-body">
      
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control script-title" %>
      </div>
      <div class="field">
        <%= f.label :start_time, "Start Date" %><br>
        <%= f.datetime_select_no_time :start_time, class: "form-control script-start-time" %>
      </div>
      <div class="field">
        <%= f.label :end_time, "End Date" %><br>
        <%= f.datetime_select_no_time :end_time, class: "form-control script-end-time", id: "end-date" %>  
      </div>      
      *All three fields must be completed in order for the script to be generated
      </div>    
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-button-hide-xs" data-dismiss="modal">Close</button>
        <%= submit_tag "Create Script", class: "btn btn-custom1" %>
      </div>
    </div>
  </div>
</div>
<% end %>
<!-- Modal -->