<div class="tr" id="script_<%= script.id %>">
  <span class="script-col1 td"><%= script.title %></span>
  <span class="script-col2 table-center td"><%= script.start_time.strftime("%m-%d-%Y") if script.start_time? %></span>
  <span class="script-col3 td"><%= link_to 'Open Script', [@event, script], 'data-no-turbolink' => true, class: "btn btn-custom3 btn-sm pull-right" %></span>
  <span class="script-col3 td"><button type="button" id="update-script_<%= script.id %>" class="btn btn-custom4 btn-sm pull-right small-screen-hide" data-toggle="modal" data-target="#myupdatescript_<%= script.id %>">
  	Update or Delete Script
  </button></span>
</div>

<div id="script<%= script.id %>">
  <!-- Modal - update scripts -->
  <%= form_for [@event, script], :method => :put, remote: true do |f| %>
    <div class="modal fade" id="myupdatescript_<%= script.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	  <div class="modal-dialog">
  	    <div class="modal-content">
  	      <div class="modal-header">
  	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  	        <h4 class="modal-title center" id="myModalLabel"><strong><%= script.title %></strong></h4>
  	      </div>

  	      <div class="modal-body">
  		      <div class="field">
  		        <%= f.label :title %><br>
  		        <%= f.text_field :title, class: "form-control play_piece1" %>
  		      </div>

            <div>
              <span class="bold-font">Date: </span><span id="date-<%=script.id%>"><%= script.start_time.strftime("%m-%d-%Y") %></span>
              &nbsp&nbsp|&nbsp&nbsp<span class="pointer blue underline italic change-date-check" id="<%= script.id %>">Change Date</span>
            </div>  
                                                         
            <br>

            <div class="script-change-date", id="script-<%= script.id%>">
    		      <div class="field">
    		        <%= f.datetime_select_no_time :start_time, class: "form-control event_start_time", id: "script.id" %>
    		      </div>      	
            </div>

            <%= link_to '<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete Script'.html_safe, [@event, script], method: :delete, class: "btn btn-custom2", remote: true, data: { confirm: 'Are you sure?', dismiss: "modal", backdrop: "false" } %>  
          </div>
          
  	      <div class="modal-footer">
            <button type="button" class="btn btn-custom1 btn-block update-script-button" id="sub<%= script.id%>">Update Script</button>
  	      </div>
  	    </div>
  	  </div>
  	</div>
  <% end %>
  <!-- Modal -->
</div>