<p>
  <div id="sdata" class="hidden"><%= @script.sdata %></div>
</p>

<%= link_to 'Return to Script', [@event, @script], class: "btn btn-custom3 btn-sm print-button" %>
<%= link_to 'Print <i class="fa fa-print"></i>'.html_safe, '#', class: "btn btn-custom1 btn-sm print-button", :onclick => 'window.print();return false;'%>

<p></p>

<div id="scriptPrint"></div>

<%= link_to 'Return to Script', [@event, @script], class: "btn btn-custom3 btn-sm print-button" %>
<%= link_to 'Print <i class="fa fa-print"></i>'.html_safe, '#', class: "btn btn-custom1 btn-sm print-button", :onclick => 'window.print();return false;'%>