<div class="overlay">
  <div class="loader center"><i class='fa fa-spinner fa-spin fa-5x'></i></div>
</div>

<% @title = @script.title + " - Definite6.com"%>

<p id="notice"><%= notice %></p>

<p>
  <div id="sdata" class="hidden"><%= @script.sdata %></div>
</p>

<p>
  <div id="event-id" class="hidden"><%= @script.event_id %></div>
</p>

<p>
  <div id="script-id" class="hidden"><%= @script.id %></div>
</p>

<p class="hidden">
  <strong>Col Widths:</strong>
  <span id="col-widths"><%= @script.col_widths %></span>
</p>

<p class="hidden">
  <strong>Original Col Widths:</strong>
  <span id="orig-col-widths"><%= @script.orig_col_widths %></span>
</p>

<p>
  <div id="script-plays" class="hidden">
    [<% @plays.each do |play| %> 
      <%= '" ", ' if play == @event.plays.first %>"<%= play.fullname %>"<%= "," unless play == @event.plays.last %>
    <% end %>]
  </div>
</p>


<p>
  <div id="script-pass-plays" class="hidden">
    [<% @pass_plays.each do |play| %> 
      <%= '" ", ' if play == @pass_plays.first %>"<%= play.fullname %>"<%= "," unless play == @pass_plays.last %>
    <% end %>]
  </div>
</p>

<p>
  <div id="script-run-plays" class="hidden">
    [<% @run_plays.each do |play| %> 
      <%= '" ", ' if play == @run_plays.first %>"<%= play.fullname %>"<%= "," unless play == @run_plays.last %>
    <% end %>]
  </div>
</p>

<div id="cell-format" class="hidden"><%= @script.s_format %></div>

<div id="cell-class" class="hidden"><%= @script.s_class %></div>

<div id="cell-format2" class="hidden"></div>
<br>
<div id="cell-class2" class="hidden"></div>

<div>
  <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Return to Install'.html_safe, @event, :class => "btn btn-custom3 btn-sm" %>

  <%= link_to '<i class="fa fa-print"></i> Printer Friendly Script'.html_safe, event_script_print_path(@event, @script), class: "btn btn-custom4 btn-sm" %> 

  <% unless browser.chrome? || browser.safari? %>
    Printing works best on Safari and Google Chrome web browswers >> <%= link_to 'Click Here to Download Google Chrome', 'https://www.google.com/chrome/browser/desktop/index.html', target: "_blank" %>
  <% end %>
</div>

<hr>

<button class="btn btn-custom1 btn-sm save-button"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Updates to Script</button>

<button class="btn btn-custom3 btn-sm pull-right" id="reset-widths-button">Reset Column Widths</button>

<br>
<br>

<div id="scriptGrid"></div>

<br>

<button class="btn btn-custom1 save-button"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Updates to Script</button>

<hr>

<div><%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Return to Install'.html_safe, @event, :class => "btn btn-custom3" %></div>

<br>

<%= link_to '<i class="fa fa-print"></i> Printer Friendly Script'.html_safe, event_script_print_path(@event, @script), class: "btn btn-custom4" %> 
<% unless browser.chrome? || browser.safari? %>
  Printing works best on Safari and Google Chrome web browswers >> <%= link_to 'Click Here to Download Google Chrome', 'https://www.google.com/chrome/browser/desktop/index.html', target: "_blank" %>
<% end %>
<br>
<br>
<br>



