
<% @title = @script.title + " - Definite6.com"%>

<p id="notice"><%= notice %></p>

<p>
  <div id="sdata" class="hidden"><%= @script.sdata %></div>
</p>

<p>
  <div id="event-id" class="hidden"><%= @script.event_id %></div>
</p>

<p>
  <div id="script-id" class="hidden"><%= @script.id %></div>
</p>

<p>
  <div id="script-plays" class="hidden">
    [<% @plays.each do |play| %> 
      <%= '" ", ' if play == @event.plays.first %>"<%= play.fullname %>"<%= "," unless play == @event.plays.last %>
    <% end %>]
  </div>
</p>


<h2><%= @script.title %></h2>

<p>
<div class="fake-h4 inline">Date:&nbsp </div><div class="inline script-time"><%= @script.end_time.strftime("%m-%d-%Y") %></div>
</p>

<div id="scriptGrid"></div>

<br>

<button id="save-button" class="btn btn-custom1"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Updates to Script</button>

<hr>

<div><%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Return to Install'.html_safe, @event, :class => "btn btn-custom3" %></div>

<br>

<%= link_to '<i class="fa fa-print"></i> Printer Friendly Script'.html_safe, event_script_print_path(@event, @script), class: "btn btn-custom4" %> 
<% unless browser.chrome? || browser.safari? %>
  Printing works best on Safari and Google Chrome web browswers >> <%= link_to 'Click Here to Download Google Chrome', 'https://www.google.com/chrome/browser/desktop/index.html', target: "_blank" %>
<% end %>
<br>
<br>
<br>



