<% @title= "My Account - Definite6.com" %>
  
<div class="sign-in-container">
  <h1 align="center">Account Settings</h1>

  <hr class="light-red">

  <h2 class="center">Sheet Settings&nbsp<i class="fa fa-table" aria-hidden="true"></i></h2>

  <h4 class="center"><%= link_to '<u>Call Sheet Settings</u>'.html_safe, "#", class: "blue", "data-toggle" => "modal", "data-target" => "#Sheet1" %></h4>

  <h4 class="center"><%= link_to '<u>Custom Call Sheet Template</u>'.html_safe, default_gamecall_path, class: "blue" %></h4>
  
  <h4 class="center"><%= link_to '<u>Default Practice Schedule Template</u>'.html_safe, default_practice_path, class: "blue" %></h4> 

  <h3 class="center">Practice Script Templates</h3>

  <h4 class="center"><%= link_to "<u>#{current_user.default_script.title}</u>".html_safe, default_script_path, class: "blue" %></h4> 

  <h4 class="center"><%= link_to "<u>#{current_user.default_script2.title}</u>".html_safe, default_script2_path, class: "blue" %></h4> 

  <h4 class="center"><%= link_to "<u>#{current_user.default_script3.title}</u>".html_safe, default_script3_path, class: "blue" %></h4> 
  
  <hr class="light-blue">

  <% if current_user.subscribed? && !current_user.cancelled? %>

    <h5>Your current billing period ends: <%= current_user.subscription_end.strftime("%m/%d/%Y") %></h5>

  <% end %>
  
  <h3>Update Personal Info</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
   
    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :team, "School or Team" %><br />
          <%= f.text_field :team, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="actions">
      <%= f.button "Update Personal Info", class: "btn btn-custom3 btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating..."} %>
    </div>
  <% end %>

  <br>
  <hr class="light-blue">

  <h3>Change Password</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>


    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :current_password, "Current password" %> <br />
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control", id: "currentPword" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :password, "New password" %> <i>(must be at least 6 characters in length and contain at least one lowercase letter, one uppercase letter, and one number)</i><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "newPword" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="field">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", id: "newPwordConfirm" %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.button "Change Password", class: "btn btn-custom3 btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating..."} %>
    </div>

  <% end %>

  <hr class="light-blue">

  <h3 id="charges-link">Prior Charges/Receipts <i class="fa fa-arrow-circle-right right-arrow ht blue" aria-hidden="true"></i><i class="fa fa-arrow-circle-down down-arrow blue" aria-hidden="true"></i></h3>

  <div id="charges-section">
    <% if current_user.charges.exists? %>
      <div class="media">
        <div class="media-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Card</th>
                <th class="text-center">Receipt</th>
              </tr>
            </thead>

            <tbody>
              <% current_user.charges. each do |charge| %>
                <tr>
                  <td><%= charge.charge_date.strftime("%m/%d/%Y") %></td>
                  <td><%= number_to_currency(charge.amount * 0.01) %></td>
                  <% if charge.card_brand != "American Express" %>
                    <td><%= charge.card_brand %> **** **** **** <%= charge.card_last4%></td>
                  <% else %>
                    <td><%= charge.card_brand %> **** ****** *<%= charge.card_last4%></td>
                  <% end %>  
                  <td class="text-center">
                    <%= link_to charge_path(charge, format: :pdf), target: "_blank" do %>
                      <i class="fa fa-file-pdf-o fa-lg red" aria-hidden="true"></i>
                    <% end %>
                  </td>
                </tr>
              <% end%>
            </tbody>
          </table>
        </div>
      </div>
    <% else %>
      <p>You do not have any charges.</p>
    <% end %>
    <br>
  </div>

  <hr class="light-blue">

  <% if current_user.subscribed? && !current_user.cancelled? %>

    <h3 id="update-card-link">Update Card <i class="fa fa-arrow-circle-right right-arrow ht blue" aria-hidden="true"></i><i class="fa fa-arrow-circle-down down-arrow blue" aria-hidden="true"></i></h3>
    
    <div id="update-card-section">
      <p>Your current card on file is:</p>
      <% if current_user.card_brand != "American Express" %>
        <div><b><%= current_user.card_brand%></b> **** **** **** <%= current_user.card_last4 %></div>
      <% else %>
        <div><b><%= current_user.card_brand%></b> **** ****** *<%= current_user.card_last4%></div>
      <% end %>  
      <div><b>Expires: </b><%= current_user.card_exp_month %> / <%= current_user.card_exp_year %></div>

      <hr>

      <h4>Please enter new card information below</h4>

      <%= form_tag card_path, method: :put, id: "payment-form" do %>
        <span class="payment-errors red"></span>
        
        <div class="center"><img src="https://www.merchantequip.com/image/?logos=v|m|a|d&height=64" alt="Credit Card Logos" /></div>
        <div class="row">
          <div class="col-lg-12">
            <div class="field">
              <label>
                <span>Card Number</span>
              </label>
              <input class="form-control" placeholder="1234 5678 9012 3456" type="text" size="20" data-stripe="number">
            </div>
          </div>  
        </div>
          
        <div class="row">
          <div class="col-lg-3">
            <div class="field">
              <label>
                <span>Expiration</span>
              </label>
              <input class="form-control" placeholder="MM" type="text" size="10" data-stripe="exp_month">        
            </div>
          </div>

          <div class="col-lg-3">
            <div class="field">
              <label>&nbsp</label>
              <input class="form-control" placeholder="YYYY" type="text" size="10" data-stripe="exp_year">
            </div>  
          </div>

          <div class="col-lg-3"></div>

          <div class="col-lg-3">
            <div class="field">
              <label>
                <span>CVC</span>
              </label>  
              <input class="form-control" placeholder="123" type="text" size="4" data-stripe="cvc">
            </div>
          </div>
        </div> 
        <div class="actions">
          <%= button_tag "Update Card", class: "submit btn btn-custom3 btn-block" %>
        </div>
      <% end %> 
    <br>  
    </div>

    <hr class="light-blue">

    <h3 id="deactivate-account-link">Deactivate My Account <i class="fa fa-arrow-circle-right right-arrow ht blue" aria-hidden="true"></i><i class="fa fa-arrow-circle-down down-arrow blue" aria-hidden="true"></i></h3>  

    <div id="deactivate-account-section">
      <p>Click below to deactivate your account - this will stop any future charges, but you will no longer have access to Definite6 after <%= current_user.subscription_end.strftime("%m/%d/%Y") %>. All saved data may be deleted after this date.</p> 
      <%= button_to "Deactivate My Account", subscription_path, data: { confirm: "Are you sure? After #{current_user.subscription_end.strftime('%m/%d/%Y')} you will no longer have access." }, method: :delete, class: "btn btn-custom2 btn-block" %>
      <br>
    </div>

    <hr class="light-red">

  <% elsif current_user.subscribed? && current_user.cancelled?%>
    
    <p>You have chosen to deactivate your account. Your account will remain active until <%= current_user.subscription_end.strftime("%m/%d/%Y") %> and will not be charged. Please contact us at <a href="mailto:admin@definite6.com">admin@definite6.com</a> if you have any questions.</p>
    
    <br>
    <hr class="light-red">

  <% else %>
    <p>Your account is not currently active. Click the button below to provide payment and activate your account.</p>
    <%= link_to "Activate Account", new_subscription_path, :class => "btn btn-custom4 btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading payment form..."} %>  

    <br>
    <hr class="light-red">

  <% end %>

</div>

<br>
<br>

<!-- Modal for Call Sheet Settings-->
<div class="modal fade" id="Sheet1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog custom-class" role="document">
    <div class="modal-content dark-modal-bg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title center" id="exampleModalLabel">Game Call Sheet Settings</h2>
      </div>
      <div class="modal-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    
          <div class="center">
            <span class="large-font">First Page</span>
          </div>
            
          <br>
            
          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <%= f.text_field :s_name1, autofocus: true, onfocus: "var temp_value=this.value; this.value=''; this.value=temp_value", class: "form-control center summary-border bold-font no-radius" %>
            </div>
            <div class="col-xs-6">
              <%= f.text_field :s_name2, class: "form-control center summary-border bold-font no-radius" %>
            </div>
          </div>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :sit1_color, "Set Color" %>&nbsp
                <%= f.select( :sit1_color, options_for_select([['None', ' '], ['Orange', 'htorange'], ['Red', 'htred'], ['Green', 'lightgreen'], ['Blue', 'htblue'], ['Yellow', 'htyellow'], ['Gold', 'htgold'], ['Shade', 'ulshade'], ['Ice', 'htlightwhite']], :selected => f.object.sit1_color), {}, {id: "sit1-color", class: "center light-it"}) %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :sit2_color, "Set Color" %>&nbsp
                <%= f.select( :sit2_color, options_for_select([['None', ' '], ['Orange', 'htorange'], ['Red', 'htred'], ['Green', 'lightgreen'], ['Blue', 'htblue'], ['Yellow', 'htyellow'], ['Gold', 'htgold'], ['Shade', 'ulshade'], ['Ice', 'htlightwhite']], :selected => f.object.sit2_color), {}, {id: "sit2-color", class: "center light-it"}) %>
              </div>
            </div>
          </div>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <div class="center summary-border white-bg light-it openers-div">
                <div id="vertcenter" class="light-it">15 Plays (Run/Pass not separated)</div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :s_name2_num_run, "Set Balance" %>
                <%= f.range_field :s_name2_num_run, {id: "name2-runs", :in => 0..14, :step => '1'} %>
                <div class="light-it"><span id="name2-pass-count"></span> Pass / <span id="name2-run-count"><%= current_user.s_name2_num_run%></span> Run</div>
              </div>
            </div>
          </div>

          <br>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <%= f.text_field :s_name3, class: "form-control center summary-border bold-font no-radius" %>
            </div>

            <div class="col-xs-6">
              <%= f.text_field :s_name6, class: "form-control center summary-border bold-font no-radius" %>    
            </div>
          </div>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :sit3_color, "Set Color" %>&nbsp
                <%= f.select( :sit3_color, options_for_select([['None', ' '], ['Orange', 'htorange'], ['Red', 'htred'], ['Green', 'lightgreen'], ['Blue', 'htblue'], ['Yellow', 'htyellow'], ['Gold', 'htgold'], ['Shade', 'ulshade'], ['Ice', 'htlightwhite']], :selected => f.object.sit3_color), {}, {id: "sit3-color", class: "center light-it"}) %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :sit6_color, "Set Color" %>&nbsp
                <%= f.select( :sit6_color, options_for_select([['None', ' '], ['Orange', 'htorange'], ['Red', 'htred'], ['Green', 'lightgreen'], ['Blue', 'htblue'], ['Yellow', 'htyellow'], ['Gold', 'htgold'], ['Shade', 'ulshade'], ['Ice', 'htlightwhite']], :selected => f.object.sit6_color), {}, {id: "sit6-color", class: "center light-it"}) %>
              </div>
            </div>
          </div>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :s_name3_num_run, "Set Balance" %>
                <%= f.range_field :s_name3_num_run, {id: "name3-runs", :in => 0..11, :step => '1'} %>
                <div class="light-it"><span id="name3-pass-count"></span> Pass / <span id="name3-run-count"><%= current_user.s_name3_num_run%></span> Run</div>  
              </div>
            </div>

            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :s_name6_num_run, "Set Balance" %>
                <%= f.range_field :s_name6_num_run, {id: "name6-runs", :in => 0..11, :step => '1'} %>
                <div class="light-it"><span id="name6-pass-count"></span> Pass / <span id="name6-run-count"><%= current_user.s_name6_num_run%></span> Run</div>
              </div>
            </div>
          </div>

          <br>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <%= f.text_field :s_name4, class: "form-control center summary-border bold-font no-radius" %>
            </div>

            <div class="col-xs-6">
              <%= f.text_field :s_name7, class: "form-control center summary-border bold-font no-radius" %>
            </div>
          </div>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :sit4_color, "Set Color" %>&nbsp
                <%= f.select( :sit4_color, options_for_select([['None', ' '], ['Orange', 'htorange'], ['Red', 'htred'], ['Green', 'lightgreen'], ['Blue', 'htblue'], ['Yellow', 'htyellow'], ['Gold', 'htgold'], ['Shade', 'ulshade'], ['Ice', 'htlightwhite']], :selected => f.object.sit4_color), {}, {id: "sit4-color", class: "center light-it"}) %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :sit7_color, "Set Color" %>&nbsp
                <%= f.select( :sit7_color, options_for_select([['None', ' '], ['Orange', 'htorange'], ['Red', 'htred'], ['Green', 'lightgreen'], ['Blue', 'htblue'], ['Yellow', 'htyellow'], ['Gold', 'htgold'], ['Shade', 'ulshade'], ['Ice', 'htlightwhite']], :selected => f.object.sit7_color), {}, {id: "sit7-color", class: "center light-it"}) %>
              </div>
            </div>
          </div>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :s_name4_num_run, "Set Balance" %>
                <%= f.range_field :s_name4_num_run, {id: "name4-runs", :in => 0..10, :step => '1'} %>
                <div class="light-it"><span id="name4-pass-count"></span> Pass / <span id="name4-run-count"><%= current_user.s_name4_num_run%></span> Run</div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :s_name7_num_run, "Set Balance" %>
                <%= f.range_field :s_name7_num_run, {id: "name7-runs", :in => 0..10, :step => '1'} %>
                <div class="light-it"><span id="name7-pass-count"></span> Pass / <span id="name7-run-count"><%= current_user.s_name7_num_run%></span> Run</div>           
              </div>
            </div>
          </div>

          <br>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <%= f.text_field :s_name5, class: "form-control center summary-border bold-font no-radius" %>
            </div>

            <div class="col-xs-6">
              <%= f.text_field :s_name8, class: "form-control center summary-border bold-font no-radius" %>
            </div>
          </div>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :sit5_color, "Set Color" %>&nbsp
                <%= f.select( :sit5_color, options_for_select([['None', ' '], ['Orange', 'htorange'], ['Red', 'htred'], ['Green', 'lightgreen'], ['Blue', 'htblue'], ['Yellow', 'htyellow'], ['Gold', 'htgold'], ['Shade', 'ulshade'], ['Ice', 'htlightwhite']], :selected => f.object.sit5_color), {}, {id: "sit5-color", class: "center light-it"}) %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :sit8_color, "Set Color" %>&nbsp
                <%= f.select( :sit8_color, options_for_select([['None', ' '], ['Orange', 'htorange'], ['Red', 'htred'], ['Green', 'lightgreen'], ['Blue', 'htblue'], ['Yellow', 'htyellow'], ['Gold', 'htgold'], ['Shade', 'ulshade'], ['Ice', 'htlightwhite']], :selected => f.object.sit8_color), {}, {id: "sit8-color", class: "center light-it"}) %>
              </div>
            </div>
          </div>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :s_name5_num_run, "Set Balance" %>
                <%= f.range_field :s_name5_num_run, {id: "name5-runs", :in => 0..10, :step => '1'} %>
                <div class="light-it"><span id="name5-pass-count"></span> Pass / <span id="name5-run-count"><%= current_user.s_name5_num_run%></span> Run</div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :s_name8_num_run, "Set Balance" %>
                <%= f.range_field :s_name8_num_run, {id: "name8-runs", :in => 0..10, :step => '1'} %>
                <div class="light-it"><span id="name8-pass-count"></span> Pass / <span id="name8-run-count"><%= current_user.s_name8_num_run%></span> Run</div>
              </div>
            </div>
          </div>

          <br>

          <hr>

          <div class="center">
            <span class="large-font">Second Page</span>
          </div>

          <br>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
                <%= f.text_field :s_name9, class: "form-control center summary-border bold-font no-radius" %>
            </div>

            <div class="col-xs-6">
              <%= f.text_field :s_name10, class: "form-control center summary-border bold-font no-radius" %>
            </div>
          </div>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :sit9_color, "Set Color" %>&nbsp
                <%= f.select( :sit9_color, options_for_select([['None', ' '], ['Orange', 'htorange'], ['Red', 'htred'], ['Green', 'lightgreen'], ['Blue', 'htblue'], ['Yellow', 'htyellow'], ['Gold', 'htgold'], ['Shade', 'ulshade'], ['Ice', 'htlightwhite']], :selected => f.object.sit9_color), {}, {id: "sit9-color", class: "center light-it"}) %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="center summary-border white-bg ">
                <%= f.label :sit10_color, "Set Color" %>&nbsp
                <%= f.select( :sit10_color, options_for_select([['None', ' '], ['Orange', 'htorange'], ['Red', 'htred'], ['Green', 'lightgreen'], ['Blue', 'htblue'], ['Yellow', 'htyellow'], ['Gold', 'htgold'], ['Shade', 'ulshade'], ['Ice', 'htlightwhite']], :selected => f.object.sit10_color), {}, {id: "sit10-color", class: "center light-it"}) %>
              </div>
            </div>
          </div>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <div class="center summary-border white-bg"> 
                <%= f.label :s_name9_num_run, "Set Balance" %>           
                <%= f.range_field :s_name9_num_run, {id: "name9-runs", :in => 0..14, :step => '1'} %>
                <div class="light-it"><span id="name9-pass-count"></span> Pass / <span id="name9-run-count"><%= current_user.s_name9_num_run%></span> Run</div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :s_name10_num_run, "Set Balance" %>
                <%= f.range_field :s_name10_num_run, {id: "name10-runs", :in => 0..14, :step => '1'} %>
                <div class="light-it"><span id="name10-pass-count"></span> Pass / <span id="name10-run-count"><%= current_user.s_name10_num_run%></span> Run</div>            
              </div>
            </div>
          </div>

          <br>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <%= f.text_field :s_name11, class: "form-control center summary-border bold-font no-radius" %>
            </div>

            <div class="col-xs-6">
              <%= f.text_field :s_name12, class: "form-control center summary-border bold-font no-radius" %>
            </div>
          </div>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :sit11_color, "Set Color" %>&nbsp
                <%= f.select( :sit11_color, options_for_select([['None', ' '], ['Orange', 'htorange'], ['Red', 'htred'], ['Green', 'lightgreen'], ['Blue', 'htblue'], ['Yellow', 'htyellow'], ['Gold', 'htgold'], ['Shade', 'ulshade'], ['Ice', 'htlightwhite']], :selected => f.object.sit11_color), {}, {id: "sit11-color", class: "center light-it"}) %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :sit12_color, "Set Color" %>&nbsp
                <%= f.select( :sit12_color, options_for_select([['None', ' '], ['Orange', 'htorange'], ['Red', 'htred'], ['Green', 'lightgreen'], ['Blue', 'htblue'], ['Yellow', 'htyellow'], ['Gold', 'htgold'], ['Shade', 'ulshade'], ['Ice', 'htlightwhite']], :selected => f.object.sit12_color), {}, {id: "sit12-color", class: "center light-it"}) %>
              </div>
            </div>
          </div>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :s_name11_num_run, "Set Balance" %>
                <%= f.range_field :s_name11_num_run, {id: "name11-runs", :in => 0..14, :step => '1'} %>
                <div class="light-it"><span id="name11-pass-count"></span> Pass / <span id="name11-run-count"><%= current_user.s_name11_num_run%></span> Run</div>            
              </div>
            </div>
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :s_name12_num_run, "Set Balance" %>
                <%= f.range_field :s_name12_num_run, {id: "name12-runs", :in => 0..14, :step => '1'} %>
                <div class="light-it"><span id="name12-pass-count"></span> Pass / <span id="name12-run-count"><%= current_user.s_name12_num_run%></span> Run</div>            
              </div>
            </div>
          </div>

          <br>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <%= f.text_field :s_name13, class: "form-control center summary-border bold-font no-radius" %>
            </div>

            <div class="col-xs-6">
              <%= f.text_field :s_name14, class: "form-control center summary-border bold-font no-radius" %>
            </div>
          </div>                                         

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :sit13_color, "Set Color" %>&nbsp
                <%= f.select( :sit13_color, options_for_select([['None', ' '], ['Orange', 'htorange'], ['Red', 'htred'], ['Green', 'lightgreen'], ['Blue', 'htblue'], ['Yellow', 'htyellow'], ['Gold', 'htgold'], ['Shade', 'ulshade'], ['Ice', 'htlightwhite']], :selected => f.object.sit13_color), {}, {id: "sit13-color", class: "center light-it"}) %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :sit14_color, "Set Color" %>&nbsp
                <%= f.select( :sit14_color, options_for_select([['None', ' '], ['Orange', 'htorange'], ['Red', 'htred'], ['Green', 'lightgreen'], ['Blue', 'htblue'], ['Yellow', 'htyellow'], ['Gold', 'htgold'], ['Shade', 'ulshade'], ['Ice', 'htlightwhite']], :selected => f.object.sit14_color), {}, {id: "sit14-color", class: "center light-it"}) %>
              </div>
            </div>
          </div>

          <div class="row row-no-gutter">
            <div class="col-xs-6">
              <div class="center summary-border white-bg">
                <%= f.label :s_name13_num_run, "Set Balance" %>
                <%= f.range_field :s_name13_num_run, {id: "name13-runs", :in => 0..14, :step => '1'} %>
                <div class="light-it"><span id="name13-pass-count"></span> Pass / <span id="name13-run-count"><%= current_user.s_name13_num_run%></span> Run</div>            
              </div>
            </div>
            <div class="col-xs-6">
              <div class="center summary-border white-bg light-it openers-div">
                <div id="vertcenter" class="light-it">15 Plays (Run/Pass not separated)</div>
              </div>
            </div>
          </div>

          <hr>

          <div class="actions">
            <%= f.button "Update Settings", class: "btn btn-custom3 btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating..."} %>
          </div>

        <% end %>  

      </div>
    </div>
  </div>
</div>


