
<div class="thin-container">

  <h1 class="center">Articles</h1>

  <hr>

  <div class="center title"><%= link_to "Practice Organization", articles_practice_organization_path %></div>
    
  <div class="center title"><%= link_to "Naming Formations", articles_naming_formations_path %></div>

  <div class="center title"><%= link_to "Goals and Objectives", articles_goals_and_objectives_path %></div>
    
  <div class="center title"><%= link_to "Our Most Productive RPO", articles_our_most_productive_rpo_path %></div>
  
  <div class="center title"><%= link_to "The Quick Game - Hitch", articles_the_quick_game_hitch_path %></div>
  
  <div class="center title"><%= link_to "The Quick Game - Fade", articles_the_quick_game_fade_path %></div>

  <div class="center title"><%= link_to "The Quick Game - Out", articles_the_quick_game_out_path %></div>

  <hr>

</div>
