<% @title= "Free Football Coaching Articles - Definite6.com" %>

<div class="thin-container">

  <h1 class="center">Free Coaching Articles</h1>

  <hr class="light-smoke">

  <div class="box">
    <div class="center title"><%= link_to "The Quick Game - Slant", articles_the_quick_game_slant_path %></div>
    <div class="center ol-font">by <%= link_to "Coach Hrazor", articles_coach_hrazor_path, class: "dark-red" %></div> 
    <div class="preview-text">The third quick game concept that we install is the slant. On this concept, both number one receivers run the slant. The number two receivers run a route we call the “inside slant”. If we align with three receivers, the third runs a bubble route... <%= link_to "Continue Reading", articles_the_quick_game_slant_path %></div> 
  </div>
    
  <br>

  <div class="box">
    <div class="center title"><%= link_to "The Quick Game - Out", articles_the_quick_game_out_path %></div>
    <div class="center ol-font">by <%= link_to "Coach Hrazor", articles_coach_hrazor_path, class: "dark-red" %></div> 
    <div class="preview-text">The second quick game concept that we install is the quick out. On this concept, both number one receivers run the out. Our number two receivers run the same route as on the hitch, the vert read. If we have a third receiver, he will run a “hot spot”... <%= link_to "Continue Reading", articles_the_quick_game_out_path %></div> 
  </div>
    
  <br>
    
  <div class="box">
    <div class="center title"><%= link_to "The Quick Game - Fade", articles_the_quick_game_fade_path %></div>
    <div class="center ol-font">by <%= link_to "Coach Hrazor", articles_coach_hrazor_path, class: "dark-red" %></div>
    <div class="preview-text">We teach the hitch and the fade on our first install day. When the widest defender is aligned at a depth of five yards or less, we’ll convert the hitch to a fade route. The following are the details of the fade... <%= link_to "Continue Reading", articles_the_quick_game_fade_path %></div> 
  </div>  

  <br>

  <div class="box">
    <div class="center title"><%= link_to "The Quick Game - Hitch", articles_the_quick_game_hitch_path %></div>
    <div class="center ol-font">by <%= link_to "Coach Hrazor", articles_coach_hrazor_path, class: "dark-red" %></div>
    <div class="preview-text">We’re going to cover our Quick Game Series. The install for our quick game follows this sequence: HITCH (with the FADE), QUICK OUT, SLANT, and STICK... <%= link_to "Continue Reading", articles_the_quick_game_hitch_path %></div> 
  </div>

  <br>

  <div class="box">
    <div class="center title"><%= link_to "Our Most Productive RPO", articles_our_most_productive_rpo_path %></div>
    <div class="center ol-font">by <%= link_to "Coach Hrazor", articles_coach_hrazor_path, class: "dark-red" %></div>
    <div class="preview-text">We use jet motion combined with our inside zone backfield action to run our most productive RPO. The majority of the time we align in a trips formation... <%= link_to "Continue Reading", articles_our_most_productive_rpo_path %></div> 
  </div>
    
  <br>

  <div class="box">
    <div class="center title"><%= link_to "Practice Organization", articles_practice_organization_path %></div>
    <div class="center ol-font">by <%= link_to "Coach Hrazor", articles_coach_hrazor_path, class: "dark-red" %></div>
    <div class="preview-text">If your budget allows, I recommend purchasing some type of practice segment timer that is programmable, otherwise you will have to use your wristwatch as a timekeeper... <%= link_to "Continue Reading", articles_practice_organization_path %></div> 
  </div>

  <br>

  <div class="box">
    <div class="center title"><%= link_to "Goals and Objectives", articles_goals_and_objectives_path %></div>
    <div class="center ol-font">by <%= link_to "Coach Hrazor", articles_coach_hrazor_path, class: "dark-red" %></div>
    <div class="preview-text">During my 36 years of coaching, deciding on team, offensive, defensive, and special team goals was always a challenging task. What are the specific goals/objectives?  How many is too many?... Too few?  Can we actually achieve the goals & objectives we selected?... <%= link_to "Continue Reading", articles_goals_and_objectives_path %></div> 
  </div> 
  
  <br>

  <div class="box">
    <div class="center title"><%= link_to "Naming Formations", articles_naming_formations_path %></div>
    <div class="center ol-font">by <%= link_to "Coach Hrazor", articles_coach_hrazor_path, class: "dark-red" %></div>
    <div class="preview-text">Over the years, we have used such a variety of ways to name our formations. The most effective we've found is a method we borrowed from a college coach about five years ago. It literally allows you to create an almost infinite number of formations without producing an infinite number of formation names... <%= link_to "Continue Reading", articles_naming_formations_path %></div> 
  </div>
  
  <hr class="light-red">

</div>
