<% @title= "The Quick Game - Stick - Definite6.com" %>

<div class="thin-container">

  <br>

  <h1 class="center">The Quick Game - Stick</h1>

  <hr class="light-smoke">
  
  <div class="center ol-font">by <%= link_to "Coach Hrazor", articles_coach_hrazor_path, class: "dark-red" %></div> 

  <br>

  <p class="art-font preview-text"><i>This article is the fifth part of the Quick Game Series. The install for our quick game follows this sequence: <strong><%= link_to "HITCH", articles_the_quick_game_hitch_path, class: "blue" %></strong> (with the <strong><%= link_to "FADE", articles_the_quick_game_fade_path, class: "blue" %></strong>), <strong><%= link_to "QUICK OUT", articles_the_quick_game_out_path, class: "blue" %></strong>, <strong><%= link_to "SLANT", articles_the_quick_game_slant_path, class: "blue" %></strong>, and STICK.</i></p>

  <p class="art-font">The Stick is the final concept we install in our quick game series. We have built numerous variations off of the initial install – I’ll describe the basic 3 x 1 Stick that we use.  You can use your own creativity and imagination to build upon the concept.</p>

  <br>

  <h3 class="top-padding">Backside Receiver</h3>

  <p class="art-font">The backside receiver and the QB communicate what we term “Gift”.  The QB will signal the route he wants the receiver to run based upon the defender’s depth and alignment.  The route is usually one of our quick routes (Hitch, Slant, Fade, or Out).  The QB has the option to throw to the receiver regardless of the play call.  If the QB decides against throwing to the backside receiver, he then of course directs his attention to the three receiver side.</p>

  <br>

  <h3 class="top-padding">Outside Receiver (#1 Receiver)</h3>

  <div class="font-only skinny"><strong>Route:</strong> F.O.R. Fade</div>

  <p class="art-font">The #1 receiver runs an F.O.R. Fade. F.O.R. stands for Forced Outside Release.  The receiver <i>must</i> outside release the DB with the intent of getting him to turn his back to the QB.</p>

  <br>

  <h3 class="top-padding">Inside Receiver (#2 Receiver)</h3>

  <div class="font-only skinny"><strong>Route:</strong> Bubble</div>

  <p class="art-font">The #2 receiver will run our Bubble Route.  The receiver will foot fire to his outside, representing the intent of running a flat or arrow route, and then back pedal to the place of the #1 receiver’s original alignment.</p>

  <br>

  <h3 class="top-padding">#3 Receiver</h3>

  <div class="font-only skinny"><strong>Route:</strong> Stick</div>

  <p class="art-font">The #3 receiver will run the Stick. It is the exact same footwork as our Hitch. Big 3, Little 2 in regard to the steps. The first three steps simulate going vertical, the final two steps are his break steps. He then plants on his outside foot and turns to look for the ball in the air.  If there is no ball, the receiver obtains eye contact with the QB and then “slides” to the outside.</p>

  <hr class="light-blue">

  <p class="art-font">The QB will use three step timing.  If there appears to be a very high probability of the #1 receiver getting open, the QB may elect to throw the Fade. In the most basic form of the Stick, the QB will throw opposite the Alley Player’s movement - either throwing to the #2 receiver on the “bubble” or the #3 receiver on the actual Stick. See diagram 1.</p>

  <p class="art-font">At times, we alter the #1 receiver’s assignment to blocking the most dangerous defender. The most dangerous defender is the defender most likely to tackle the #2 receiver on the Bubble.  We’ll make this change when the probability of throwing to #1 receiver on the fade is low.  See diagram 2.</p>

  <br>

  <%= image_tag("Stick1.png", alt: "Football Play - Stick Diagram", class: "formation-image") %>

  <br>

  <h3>Run/Pass Option</h3>

  <p class="art-font">We can also include the Stick in an RPO, which many teams do.  Initially we paired the Stick with the Draw, using the first LB inside our #3 receiver as the conflict backer.  If the LB drops to cover the Stick, we then would hand the ball to the RB on the Draw.  If the LB stays or comes up, we would throw the Stick. Through our experience with this play, we found that pairing the Stick with the Inside Zone was more effective in terms of our line blocking the various fronts we encounter.  The conflict backer remains the same, as do the QB’s reads. The only change is that our backside OT blocks the C gap defender which allows the conflict LB to be unblocked and thus he becomes our read guy for the handoff or the throw.</p>
  
  <br>

  <%= image_tag("Stick2.png", alt: "Football Play - Stick RPO Diagram", class: "formation-image") %>

  <br>

  <h3>Vs Man Coverage</h3>

  <p class="art-font">Lastly, there are times when the defense answers the Stick with man coverage.  Our response to that is utilizing the Stick-N-Go.  The QB pumps the Stick, resets his feet, and throws to the #3 receiver on a vertical seam.  The #3 receiver runs his steps for the Stick route, gives a head turn to the QB with two stutter steps, and then releases the DB (usually the Strong Safety) into his Vertical Seam route.  A coaching point here is to drill the #3 receiver on releasing the safety due to the collision that usually occurs on the pump fake.</p>

  <%= image_tag("Stick3.png", alt: "Football Play - Stick vs Man Coverage Diagram", class: "formation-image") %>

  <br>
  <br>

  <p class="art-font">Comment below or contact me directly with any questions at <strong><a class="blue" href="mailto:rayhradek@gmail.com">rayhradek@gmail.com</a></strong>.</p>

  <hr class="light-red">
  <br>

  <%= render 'disqus' %>

</div>