<div class="thin-container">

  <h1 class="center">The Quick Game - Out</h1>

  <br>

  <p class="art-font preview-text"><i>This article is the third part of the Quick Game Series. The install for our quick game follows this sequence: <strong><%= link_to "HITCH", articles_the_quick_game_hitch_path, class: "blue" %></strong> (with the <strong><%= link_to "FADE", articles_the_quick_game_fade_path, class: "blue" %></strong>), QUICK OUT, <strong><%= link_to "SLANT", articles_the_quick_game_slant_path, class: "blue" %></strong>, and STICK.</i></p>

  <p class="art-font">The second quick game concept that we install is the quick out.  On this concept, both number one receivers run the out.  The number two receivers run the same route as on the hitch, the vert read.  If we have a third receiver, he will run a “hot spot”.</p>

  <br>

  <h3 class="top-padding">Outside Receiver (#1 Receiver)</h3>

  <div class="font-only skinny"><strong>Route:</strong> Out (4-5-6 Out)</div>

  <p class="art-font">We refer to the quick out as the 4-5-6 out. The 4-5-6 is a reference to the receiver’s steps as he is speed cutting to the sideline. He starts with his inside foot up at the line. At the snap, he will sprint four steps vertically.  On the fourth step, he will plant his inside foot. The fifth step is taken at a 45-degree angle to the sideline.  The sixth is a rounded step directly to the sideline. Immediately after the sixth step, the receiver whips his head around, looks for the ball in the air, secures the catch, and punctures up field.</p>

  <br>

  <h3 class="top-padding">Inside Receiver (#2 Receiver)</h3>

  <div class="font-only skinny"><strong>Route:</strong> Vertical (Vert) Read</div>

  <p class="art-font">The #2 receiver will locate the alley player (AP) or the second level defender inside from the sideline. He will run directly at the outside shoulder of the AP representing a run block with the objective to get the AP to react by turning to the receiver, planting his feet, and attempting to defeat the block. The receiver will exit off of the AP’s outside shoulder, lean back and get vertical. If he sees the safety coming over the top of his route, he will throttle down and settle. If there’s no safety, then he will continue vertical.</p>

  <br>

  <h3 class="top-padding">#3 Receiver</h3>

  <div class="font-only skinny"><strong>Route:</strong> Hot Spot</div>

  <p class="art-font">The receiver aims for the nearest inside LB and replaces his initial alignment.  If the LB drops, the receiver spots up underneath him.  If the LB blitzes, the receiver yells “Hot-Hot-Hot" and spots up immediately.</p>

  <hr>

  <p class="art-font">Similar to the hitch, the QB picks the side of the field to throw based upon the depth, eyes, and leverage of the widest defender. After the snap, he locates and reacts accordingly to the movement of the AP - if the AP stays on the vert read, then the QB throws the out. If the AP drops under the out, then the QB throws the vert read. This is a three step drop if under center and a one step drop if in the shotgun.</p>

  <%= image_tag("Out.png", alt: "Football Play - Out Diagram", class: "formation-image") %>

  <br>
  <br>
  <br>

  <div class="font-only skinny"><strong>Out-N-Go:</strong></div>

  <p class="art-font">The out-n-go is initially run the same as the 4-5-6 out but three more steps are added as the receiver runs toward the sideline.  After rounding the sixth step toward the sideline, the receiver takes steps seven and eight, and then plants off the ninth step to turn vertically up the sideline. He is coached to look for the ball over his inside shoulder as soon as he turns vertically. The route is sold better when the receiver glances at the QB on steps seven and eight while the QB is simultaneously pump faking the out. The QB is coached to deliver the ball over the outside shoulder of the receiver.</p>

  <p class="art-font">We can either call the n-go compliment or the QB can automatically adjust to it when the out is called but the DB makes a move to come up and take the quick route away. The QB will pump fake, alerting the receiver to react and run the out-n-go.  As with the hitch-n-go, perfecting this route takes practice.</p>

  <%= image_tag("OutNGo.png", alt: "Football Play - Out-N-Go Diagram", class: "formation-image") %>

  <br>
  <br>
  <br>

  <p class="art-font">Comment below or contact me directly with any questions at <strong><a class="blue" href="mailto:rayhradek@gmail.com">rayhradek@gmail.com</a></strong>.</p>

  <hr>
  <br>

  <%= render 'disqus' %>
  
</div>