<div class="thin-container">

  <h1 class="center">The Quick Game - Hitch</h1>

  <br>

  <p class="art-font">We’re going to cover our Quick Game Series. The install for our quick game follows this sequence: HITCH (with the <strong><%= link_to "FADE", articles_the_quick_game_fade_path, class: "blue" %></strong>), <strong><%= link_to "QUICK OUT", articles_the_quick_game_out_path, class: "blue" %></strong>, SLANT, and STICK.</p>

  <p class="art-font">Our quick game is based upon three step timing of the QB.  The QB takes a three step drop if under the center and a one step drop if in shotgun.  We train our QBs to have the inside of their back foot pointed to their target on the final/plant step of their drop.  We’ll talk quarterback technique in greater detail in a future article.</p>

  <div class="font-only skinny">There are three steps to the QB's thought process in determining the best throw:</div>

  <ol class="ol-font">
    <li>Pick the side of the field to throw based upon the depth, eyes, and leverage of the widest defender.</li>  
    <li>Locate and react accordingly to the defender movement key - this usually means throw opposite the movement of the alley player.</li> <li>Execute the throw-placing the ball on the receiver’s body away from the nearest defender.</li>
  </ol>

  <br>

  <p class="art-font">The first pass concept in the series is the hitch.</p>

  <h3>Outside Receiver (#1 Receiver)</h3>

  <div class="font-only skinny"><strong>Route:</strong> Hitch - Big 3, Little 2</div>

  <p class="art-font">We have found through trial and error that the “Big 3, Little 2” method of running the hitch route is the most productive way of executing the timing of the pass.  Our receivers align with their inside foot up.  On the snap, the receiver drives up field for three big steps, angling to obtain “route side space” - in this case, inside leverage off the defender and simulating the desire to get vertical.  The 4th and 5th steps are what we term “break steps".  They are smaller “gather” steps which allow the receiver to plant off his outside foot.  Thus the Big 3, Little 2 description of the hitch.  Upon planting, the receiver snaps his head back to the QB with his eyes looking for the ball <em>in the air</em>.  If no ball, then he will keep moving back to the QB - unless the QB pump fakes, indicating that he wants to throw the Hitch-N-Go (this takes much practice).  We coach the receivers to “puncture” up field once they secure the catch.  We drill the receivers to let the ball take them up field - if the QB placed the ball on the receiver’s up field/inside body area, the receiver would simply continue on that course.  If the QB placed the ball on the outside of the receiver, the receiver would execute the spin that quite a few coaches teach and then burst up field.</p>

  <div class="font-only skinny"><strong>Conversion:</strong></div>

  <p class="art-font">We coach the receiver and QB to convert the hitch to a fade when the DB aligns at a depth five yards or less. The fade is covered <strong><%= link_to "HERE", articles_the_quick_game_fade_path, class: "blue" %></strong>.</p>

  <br>

  <h3 class="top-padding">Inside Receiver (#2 Receiver)</h3>

  <div class="font-only skinny"><strong>Route:</strong> Vertical (Vert) Read</div>

  <p class="art-font">The #2 receiver will locate the alley player (AP) or the second level defender inside from the sideline.  He will run directly at the outside shoulder of the AP representing a run block with the objective to get the AP to react by turning to the receiver, planting his feet, and attempting to defeat the block.  The receiver will exit off of the AP’s outside shoulder, lean back and get vertical.  If he sees the safety coming over the top of his route, he will throttle down and settle.  If there’s no safety, then he will continue vertical.</p>

  <hr>

  <p class="art-font">The QB will throw opposite the movement of the AP.  If the AP is held up by the #2 receiver or runs with him, the QB throws the hitch to the #1 receiver.  If the AP expands to get under the hitch, the QB will throw to the #2 receiver.</p>

  <%= image_tag("Hitch.png", alt: "Football Play - Hitch Diagram", class: "formation-image") %>

  <br>
  <br>
  
  <div class="font-only skinny"><strong>Coaching Point:</strong></div>

  <p class="art-font">If the AP does expand, the #2 receiver <em>does not chase him</em>.  We coach the #2 receiver to run his route to the point where the AP originally aligned.</p>

  <div class="font-only skinny"><strong>Hitch-N-Go:</strong></div>
  <p class="art-font">Also, I mentioned the pump fake earlier – this takes experience and talent at the QB and receiver positions. You can coach the QB to pump the hitch if the DB closes in quickly after the snap. The challenge is for the receiver to recognize and react correctly to the pump fake with no delay. We teach the QB to deliver the ball exactly as he would on a fade - over the outside shoulder of the receiver.</p>

  <p class="art-font">Comment below or contact me directly with any questions at <strong><a class="blue" href="mailto:rayhradek@gmail.com">rayhradek@gmail.com</a></strong>.</p>

  <hr>
  <br>

  <%= render 'disqus' %>
  
</div>
