<% @title= "The Quick Game - Slant - Definite6.com" %>

<div class="thin-container">

  <br>

  <div class="article-box">

    <h1 class="center">The Quick Game - Slant</h1>

    <div class="center ol-font">by <%= link_to "Coach Hrazor", articles_coach_hrazor_path, class: "dark-red" %></div> 

    <br>

    <p class="art-font preview-text"><i>This article is the fourth part of the Quick Game Series. The install for our quick game follows this sequence: <strong><%= link_to "HITCH", articles_the_quick_game_hitch_path, class: "blue" %></strong> (with the <strong><%= link_to "FADE", articles_the_quick_game_fade_path, class: "blue" %></strong>), <strong><%= link_to "QUICK OUT", articles_the_quick_game_out_path, class: "blue" %></strong>, SLANT, and STICK.</i></p>

    <p class="art-font">The third quick game concept that we install is the slant. On this concept, both number one receivers run the slant. The number two receivers run a route we call the “inside slant”. If we align with three receivers, the third runs a bubble route.</p>

    <br>

    <h3 class="top-padding">Outside Receiver (#1 Receiver)</h3>

    <div class="font-only skinny"><strong>Route:</strong> Slant</div>

    <p class="art-font">Like all of our quick game routes run by the widest receiver, we use steps to ensure our timing on the slant. The receiver starts with his inside foot up at the line. At the snap, he’ll run three vertical steps while attempting to gain inside leverage (which we call “route side space”). He’ll then plant on his outside foot and angle at about 45 degrees to his inside, looking for the ball.  If no ball, the receiver will continue to work to find an open area to his inside. If he works to the near hash, he will then work vertical up the hash.  We do not want the #1 receiver to cross the hash on a slant.</p>

    <br>

    <h3 class="top-padding">Inside Receiver (#2 Receiver)</h3>

    <div class="font-only skinny"><strong>Route:</strong> Inside Slant</div>

    <p class="art-font">The #2 receiver runs what we call an “inside slant”.  It is 99% similar to the vertical read he runs on the hitch and the out. The difference is that the receiver releases/exits off of the inside shoulder of the alley player (AP) as opposed to the outside shoulder. At the snap, the receiver runs at the AP, works underneath him, and crosses his face. Once he gets to the inside shoulder he will use his hand fighting techniques to exit and get vertical as soon as possible. Leaning back once he has released helps him to get back on the vertical tract. This route from the #2 receiver challenges the AP to make a decision as to who to cover. If the AP decides to drop under the #1 receiver’s slant, the QB will throw to the #2 receiver on the inside slant.  If the AP decides to carry the #2 receiver on the inside slant, the QB will throw the slant to the #1 receiver.</p>

    <br>

    <h3 class="top-padding">#3 Receiver</h3>

    <div class="font-only skinny"><strong>Route:</strong> Bubble</div>

    <p class="art-font">When we align with three receivers, the #3 receiver runs a “bubble” route.  Our bubble is simple – the receiver pushes off his inside foot, getting as much depth as possible with his outside foot stepping back and out.  Then he continues to run to the sideline with his face to the QB.</p>

    <hr class="light-blue">

    <p class="art-font">The QB’s movement key is again the Alley Player.  Working his eyes from inside to outside, he throws opposite the AP’s movement.  In the three receiver set, the QB will also read from inside to outside, with the bubble receiver being his third and final option.</p>

    <br>

    <%= image_tag("Slant.png", alt: "Football Play - Slant Diagram", class: "formation-image") %>

    <br>
    <br>
    <br>

    <div class="font-only skinny"><strong>Slant-N-Go:</strong></div>

    <p class="art-font">The slant-n-go is the compliment to the slant route and is run by the #1 receiver. The other receivers run the same assignments as on the normal slant</p>

    <p class="art-font">The #1 receiver will run a three step vertical and then break on the slant for three steps, while glancing at the QB.  The three steps will enable the receiver to plant off of his inside foot and re-route himself into a fade route (as much as possible).  The receiver is still looking to the inside, facing the field.</p>

    <p class="art-font">The QB is on three step timing, using a pump fake. After the pump, he will reset his feet and balance, and throw the fade to the receiver.</p>

    <%= image_tag("SlantNGo.png", alt: "Football Play - Slant-N-Go Diagram", class: "formation-image") %>

  </div>

  <br>
  <br>

  <p class="art-font">Comment below or contact me directly with any questions at <strong><a class="blue" href="mailto:rayhradek@gmail.com">rayhradek@gmail.com</a></strong>.</p>

  <hr class="light-red">
  <br>

  <%= render 'disqus' %>

</div>


