<% @title= "The Quick Game - Fade - Definite6.com" %>

<div class="thin-container">

  <br>
  
  <div class="article-box">

    <h1 class="center">The Quick Game - Fade</h1>

    <div class="center ol-font">by <%= link_to "Coach Hrazor", articles_coach_hrazor_path, class: "dark-red" %></div> 

    <br>

    <p class="art-font preview-text"><i>This article is the second part of the Quick Game Series. The install for our quick game follows this sequence: <strong><%= link_to "HITCH", articles_the_quick_game_hitch_path, class: "blue" %></strong> (with the FADE </strong>), <strong><%= link_to "QUICK OUT", articles_the_quick_game_out_path, class: "blue" %></strong>, <strong><%= link_to "SLANT", articles_the_quick_game_slant_path, class: "blue" %></strong>, and STICK.</i></p>

    <p class="art-font">We teach the hitch and the fade on our first install day (read about the hitch <strong><%= link_to "HERE", articles_the_quick_game_hitch_path, class: "blue" %></strong>). When the widest defender is aligned at a depth of five yards or less, we’ll convert the hitch to a fade route. The following are the details of the fade.</p>

    <p class="art-font">We coach the receiver to work to gain “route side space”, which would be the outside shoulder of the defender. To gain leverage, we use a variety of methods. We use a combination of “foot fire” maneuvers, along with “hand fighting” techniques to attain route side space. Once achieved, if the defender is trailing or trying to control the receiver by grasping with his hands, the receivers will pound, club, and pry the defender’s hands away from his body. Since this pass is thrown on three step timing, the receivers are coached to look for the ball as soon as possible. The receiver’s width on the route should be on the numbers to the bottom of the numbers, while the QB will throw the ball between the bottom of the numbers and the sideline - to a depth of approximately 18 yards.</p>

    <p class="art-font">As mentioned in the hitch article, once our QBs and receivers develop a sense of timing and chemistry, we can convert the hitch to a fade where the QB pump fakes the hitch. This is executed when the pre snap depth of the DB is more than 5 yards (indicating hitch), but then the DB closes the cushion post snap in order to defend the hitch. The QB sees the DB close and then pumps, resets his feet, and throws the fade.</p>

    <p class="art-font">Remember, the fade route is a three step timing route; a quick game route. When we want a route with more vertical depth, we will call our vertical or go route, which is thrown with five step timing and has its own set of coaching points.</p>

  </div>

  <br>
  <br>
  
  <p class="art-font">Comment below or contact me directly with any questions: &nbsp<strong><a class="blue" href="mailto:rayhradek@gmail.com">rayhradek@gmail.com</a></strong>.</p>

  <hr class="light-red">
  <br>

  <%= render 'disqus' %>
  
</div>