<div class="edit-play-container">  

  <% @title = @saved_play.title + " - Definite6.com" %>

  <div class="update-play-box">
    <h2 class="center"><strong><%= @saved_play.title %></strong></h2>

    <hr class="light-blue no-margin">

    <%= form_for [@saved_play] do |f| %>
      <% if @saved_play.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@saved_play.errors.count, "error") %> prohibited this formation from being saved:</h2>

          <ul>
          <% @saved_play.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :title, "Formation Name" %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <hr class="light-smoke">

      <div>
        <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Return to My Plays'.html_safe, saved_plays_path, class: "btn btn-custom3 btn-sm small-block" %>

        <%= link_to '<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete Play'.html_safe, [@saved_play], method: :delete, class: "btn btn-custom2 btn-sm small-block pull-right", data: { confirm: 'Are you sure?' } %>
      </div>

      <br>

      <%= submit_tag "Update Play", class: "btn btn-custom1 btn-block" %>
      
    <% end %>

</div>