<% @title= "Saved Plays - Definite6.com" %>

<div class="container">
  <p id="notice"><%= notice %></p>

  <br>

  <p class="large-text center">Saved Plays</p>

  <br>

  <div class="install-box">
    <div class="media">
      <div class="media-body">
        <table class="table table-hover sortable">
          <thead id="saved-plays-thead">
            <tr>
              <th>Play Name</th>
              <th></th>
            </tr>   
          </thead>
          <tbody>
          <div id="container_saved_plays">
            <%= render @saved_plays %>
          </div>
          </tbody>
        </table>
      </div>
    </div>         
  </div>

  <br>

  <div class="row">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-custom1 btn-block" data-toggle="modal" data-target="#mynewsaved_play">
        Add a New Play
      </button>
  </div>
<br>
<br>

  <!-- Modal  create action -->
    <%= form_for(@saved_play, remote: true) do |f| %>
      <div class="modal fade" id="mynewsaved_play" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><strong>Add a New Play</strong></h4>
          </div>
          
          <div class="modal-body">
            <div class="field">
              <%= f.label :title, "Play Name" %><br>
              <%= f.text_field :title, class: "form-control saved_play_title" %>
            </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewsaved_playclose">Close</button>
            <%= submit_tag "Create", class: "btn btn-custom1" %>
          </div>
        </div>
      </div>
      </div>
    <% end %>
  <!-- Modal -->

</div>

