<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "Definite6", root_path, :class => "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="definite6-navbar">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li data-no-turbolink><%= link_to 'Calendar', events_path %></li>  
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Play Database <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li data-no-turbolink><%= link_to 'Saved Formations', saved_formations_path %></li>
              <li data-no-turbolink><%= link_to 'Saved Plays', saved_plays_path %></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Installs <b class="caret"></b></a>
            <ul class="dropdown-menu nav-limit-dropdown">
              <% @ievents.each do |ievent| %>
                <li data-no-turbolink><%= link_to ievent.title, event_path(ievent) %></li>
              <% end %>
            </ul>
          </li>

          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "User Guide", user_guide_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Free Coaching Articles <b class="caret"></b></a>
            <ul class="dropdown-menu nav-long-dropdown">
              <li><%= link_to 'Articles Index', articles_index_path %></li>
              <li><%= link_to 'The Quick Game - Slant', articles_the_quick_game_slant_path %></li>
              <li><%= link_to 'The Quick Game - Out', articles_the_quick_game_out_path %></li>
              <li><%= link_to "The Quick Game - Fade", articles_the_quick_game_fade_path %></li>
              <li><%= link_to "The Quick Game - Hitch", articles_the_quick_game_hitch_path %></li>
              <li><%= link_to "Our Most Productive RPO", articles_our_most_productive_rpo_path %></li>
              <li><%= link_to "Practice Organization", articles_practice_organization_path %></li>
              <li><%= link_to "Goals and Objectives", articles_goals_and_objectives_path %></li>
              <li><%= link_to "Naming Formations", articles_naming_formations_path %></li>
            </ul>
          </li>  
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Free Coaching Articles <b class="caret"></b></a>
            <ul class="dropdown-menu nav-long-dropdown">
              <li><%= link_to 'Articles Index', articles_index_path %></li>
              <li><%= link_to 'The Quick Game - Slant', articles_the_quick_game_slant_path %></li>
              <li><%= link_to 'The Quick Game - Out', articles_the_quick_game_out_path %></li>
              <li><%= link_to "The Quick Game - Fade", articles_the_quick_game_fade_path %></li>
              <li><%= link_to "The Quick Game - Hitch", articles_the_quick_game_hitch_path %></li>
              <li><%= link_to "Our Most Productive RPO", articles_our_most_productive_rpo_path %></li>
              <li><%= link_to "Practice Organization", articles_practice_organization_path %></li>
              <li><%= link_to "Goals and Objectives", articles_goals_and_objectives_path %></li>
              <li><%= link_to "Naming Formations", articles_naming_formations_path %></li>
            </ul>
          </li> 
          <li><%= link_to "User Guide", user_guide_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

