<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "Definite6", root_path, :class => "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="definite6-navbar">

      <ul class="nav navbar-nav navbar-left">
        <% if user_signed_in? %>
          <li data-no-turbolink class="<%= is_active?('/events') %>"><%= link_to 'Calendar', events_path %></li>  
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle <%= 'blue-nav' if controller_name == 'saved_formations' || controller_name == 'saved_plays'%>" data-toggle="dropdown">Play Database <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li data-no-turbolink class="<%= is_active?('/saved_formations') %>"><%= link_to 'Saved Formations', saved_formations_path %></li>
              <li data-no-turbolink class="<%= is_active?('/saved_plays') %>"><%= link_to 'Saved Plays', saved_plays_path %></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle <%= 'blue-nav' if controller_name == 'events' && action_name == 'show'%>" data-toggle="dropdown">Installs <b class="caret"></b></a>
            <ul class="dropdown-menu nav-limit-dropdown">
              <% @ievents.each do |ievent| %>
                <li data-no-turbolink class='<%= is_active?("/events/#{ievent.id}") %>'><%= link_to ievent.title, event_path(ievent) %></li>
              <% end %>
            </ul>
          </li>
          <li class="<%= is_active?('/user_guide') %>"><%= link_to "User Guide", user_guide_path %></li>
        <% end %>   
                
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle <%= 'blue-nav' if controller_name == 'registrations'%>" data-toggle="dropdown"><i class="fa fa-user fa-lg" aria-hidden="true"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="<%= is_active?('/users/edit') %> nav-underline"><%= link_to "Account Settings", edit_user_registration_path %></li>
              <li class=nav-top-padding><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle <%= 'blue-nav' if controller_name == 'articles'%>" data-toggle="dropdown">Free Coaching Articles <b class="caret"></b></a>
            <ul class="dropdown-menu nav-long-dropdown">
              <li class="<%= is_active?('/articles/index') %>"><%= link_to 'Articles Index', articles_index_path %></li>
              <li class="<%= is_active?('/articles/the_quick_game_slant') %>"><%= link_to 'The Quick Game - Slant', articles_the_quick_game_slant_path %></li>
              <li class="<%= is_active?('/articles/the_quick_game_out') %>"><%= link_to 'The Quick Game - Out', articles_the_quick_game_out_path %></li>
              <li class="<%= is_active?('/articles/the_quick_game_fade') %>"><%= link_to "The Quick Game - Fade", articles_the_quick_game_fade_path %></li>
              <li class="<%= is_active?('/articles/the_quick_game_hitch') %>"><%= link_to "The Quick Game - Hitch", articles_the_quick_game_hitch_path %></li>
              <li class="<%= is_active?('/articles/our_most_productive_rpo') %>"><%= link_to "Our Most Productive RPO", articles_our_most_productive_rpo_path %></li>
              <li class="<%= is_active?('/articles/practice_organization') %>"><%= link_to "Practice Organization", articles_practice_organization_path %></li>
              <li class="<%= is_active?('/articles/goals_and_objectives') %>"><%= link_to "Goals and Objectives", articles_goals_and_objectives_path %></li>
              <li class="<%= is_active?('/articles/naming_formations') %>"><%= link_to "Naming Formations", articles_naming_formations_path %></li>
            </ul>
          </li>  

        <% else %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle <%= 'blue-nav' if controller_name == 'articles'%>" data-toggle="dropdown">Free Coaching Articles <b class="caret"></b></a>
            <ul class="dropdown-menu nav-long-dropdown">
              <li class="<%= is_active?('/articles/index') %>"><%= link_to 'Articles Index', articles_index_path %></li>
              <li class="<%= is_active?('/articles/the_quick_game_slant') %>"><%= link_to 'The Quick Game - Slant', articles_the_quick_game_slant_path %></li>
              <li class="<%= is_active?('/articles/the_quick_game_out') %>"><%= link_to 'The Quick Game - Out', articles_the_quick_game_out_path %></li>
              <li class="<%= is_active?('/articles/the_quick_game_fade') %>"><%= link_to "The Quick Game - Fade", articles_the_quick_game_fade_path %></li>
              <li class="<%= is_active?('/articles/the_quick_game_hitch') %>"><%= link_to "The Quick Game - Hitch", articles_the_quick_game_hitch_path %></li>
              <li class="<%= is_active?('/articles/our_most_productive_rpo') %>"><%= link_to "Our Most Productive RPO", articles_our_most_productive_rpo_path %></li>
              <li class="<%= is_active?('/articles/practice_organization') %>"><%= link_to "Practice Organization", articles_practice_organization_path %></li>
              <li class="<%= is_active?('/articles/goals_and_objectives') %>"><%= link_to "Goals and Objectives", articles_goals_and_objectives_path %></li>
              <li class="<%= is_active?('/articles/naming_formations') %>"><%= link_to "Naming Formations", articles_naming_formations_path %></li>
            </ul>
          </li>  

          <li class="<%= is_active?('/users/sign_up') %>"><%= link_to "Sign Up", new_user_registration_path %></li>
          <li class="<%= is_active?('/users/sign_in') %>"><%= link_to "Sign In", new_user_session_path %></li>

        <% end %>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

