<div id="event_<%= event.id %>">

  <!-- Modal - update events -->
  <%= form_for(event, :method => :put, remote: true) do |f| %>
  <div class="modal fade" id="myupdateevent_<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title center" id="myModalLabel"><strong><%= event.title %></strong></h4>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <div class="event-type">
            <% if event.event_type == "Gamecall" %> 
              <div><strong>Type: </strong><span id="event-<%= event.id%>-type-lookup">Game Call Sheet</span></div>
            <% else %>
              <div><strong>Type: </strong><span id="event-<%= event.id%>-type-lookup"><%= event.event_type %></span></div>  
            <% end %>
            <% if event.event_type == "Install" %>
              <br>
              <div class="event-type"><%= link_to "Go to Install Page", event, :class => "btn btn-custom1 btn-sm" %></div>
            <% end %>  
            <% if event.event_type == "Script" %>
              <br>
              <div>
                <button type="button" class="btn btn-custom1 btn-sm script-button">Go to Script's Install Page</button>
                <div class="linked-event"><%= event.install_event_id %></div> 
              </div>
            <% end %> 
            <% if event.event_type == "Gamecall" %>
              <br>
              <div>
                <button type="button" class="btn btn-custom1 btn-sm gamecall-button">Go to Game Call's Install Page</button>
                <div class="linked-gcevent"><%= event.installgc_event_id %></div>
              </div>
            <% end %> 
          </div>  
        </div>
        <hr>
        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title, class: "form-control event_title" %>
        </div>

        <% if event.event_type == "Install" %>
          <div class="field">
            <%= f.label :description, "Description <i>(optional)</i>".html_safe %><br>
            <%= f.text_area :description, class: "form-control event_description" %>
          </div>
        <% end %>

        <% if event.event_type == "Game" || event.event_type == "Practice" || event.event_type == "Other" %>
          <div class="field">
            <%= f.label :start_time, "Start Time" %><br>
            <%= f.datetime_select_time :start_time, class: "form-control event_start_time" %>
          </div>
          <div class="field">
            <%= f.label :end_time, "End Time" %><br>
            <%= f.datetime_select_time :end_time, class: "form-control event_end_time" %>
          </div>
        <% end %>    

        <% if event.event_type == "Install" %> 

          <div>
            <span class="bold-font">Start Date: </span><span id="start-date-<%=event.id%>"><%= event.start_time.strftime("%m-%d-%Y") %></span>
            &nbsp&nbsp|&nbsp&nbsp<span class="pointer blue underline italic change-date-check" id="start-<%= event.id %>">Change Date</span>
          </div>  
                                                         
          <br>

          <div class="event-start-change-date", id="event-start-<%= event.id%>">
            <div class="field">
              <%= f.datetime_select_install1 :start_time, class: "form-control event_start_time" %>
            </div>
            <hr>
          </div>

          <div>
            <span class="bold-font">End Date: &nbsp&nbsp</span><span id="end-date-<%=event.id%>"><%= event.end_time.strftime("%m-%d-%Y") %></span>
            &nbsp&nbsp|&nbsp&nbsp<span class="pointer blue underline italic change-date-check2" id="end-<%= event.id %>">Change Date</span>
          </div>  
                                                         
          <br>

          <div class="event-end-change-date", id="event-end-<%= event.id%>">
            <div class="field">
            <%= f.datetime_select_install2 :end_time, class: "form-control event_end_time", id: "end-date" %>  
            </div> 
            <hr> 
          </div>

        <% end %>  

        <% if event.event_type == "Script" || event.event_type == "Gamecall" %>
          
          <div>
            <span class="bold-font">Date: </span><span id="date-<%=event.id%>"><%= event.start_time.strftime("%m-%d-%Y") %></span>
              &nbsp&nbsp|&nbsp&nbsp<span class="pointer blue underline italic change-date-check-gcs" id="<%= event.id %>">Change Date</span>
          </div> 
          
          <br>

          <div class="event-change-date", id="event-<%= event.id%>"> 
            <div class="field">
              <%= f.datetime_select_no_time :start_time, class: "form-control event_start_time" %>
            </div>
          </div>

        <% end %>  

        
        <%= link_to '<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete'.html_safe, event, method: :delete, class: "btn btn-custom2", remote: true, data: { confirm: 'Are you sure?', dismiss: "modal", backdrop: "false" } %> 
      
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-custom1 btn-block update-event-button" id="sub<%= event.id%>">Update Calendar</button>
      </div>
    </div>
  </div>
  </div>
  <% end %>
  <!-- Modal -->
</div>