<div class="overlay">
  <div class="loader center"><i class='fa fa-spinner fa-spin fa-5x'></i></div>
</div>

<% @title= "Calendar - Definite6.com" %>

<div class="container"> 
  
  <% unless browser.chrome? %>
    <p class="center red"><strong>***Definite6 works best on the Google Chrome web browswer >> <%= link_to 'Click Here to Download Google Chrome', 'https://www.google.com/chrome/browser/desktop/index.html', target: "_blank" %>***</strong></p>
  <% end %>

  <br>

  <p class="large-text center"><%= current_user.team %></p>

  <br>

  <div id="errors_div"></div>
  
  <!-- Have to render _events because update modal is located there -->
  <div class="row" id="container-events">
    <%= render @events %>
  </div>

  <!-- Modal  create action -->
    <%= form_for(@event, remote: true) do |f| %>
      <div class="modal fade" id="mynewevent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center" id="myModalLabel">Add a New Event</h4>
          </div>
          
          <div class="modal-body" id="create-modal">
            <div class="form-group">
              <%= f.label :event_type, "Type" %> 
              <div id="event-select">
                <%= f.select(:event_type, options_for_select([[' ', ' '], ['Install', 'Install'], ['Practice Schedule', 'Practice Schedule'], ['Script', 'Script'], ['Game Call Sheet', 'Gamecall']]), {}, {class: "form-control"}) %>
              </div>  
            </div>   
            <div id="select-install-select">
              <div class="form-group">
                <%= label_tag :chose_install, 'Chose Install' %>
                <%= select_tag 'ievent', options_from_collection_for_select(@ievents, 'id', 'title'), class: "form-control", id: "event-install-dropdown", size: 3 %>
              </div>
              <br>
              <button type="button" class="btn btn-custom1 btn-sm btn-block" id="install-button">Go to Install</button>
            </div>
         
            <div id="create-lower-body"> 
              <div id="non-script-body">        
                <div class="field">
                  <%= f.label :title %><br>
                  <%= f.text_field :title, class: "form-control event_title", id: "title-id" %>
                </div>
                <div class="field">
                  <%= f.label :description, "Description <i>(optional)</i>".html_safe %><br>
                  <%= f.text_area :description, class: "form-control event_description" %>
                </div>
                <div class="time-showing">
                  <div class="field">
                    <%= f.label :start_time, "Start Time" %><br>
                    <%= f.datetime_select_time :start_time, class: "form-control event_start_time" %>
                  </div>
                  <div class="field">
                    <%= f.label :end_time, "End Time" %><br>
                    <%= f.datetime_select_time :end_time, class: "form-control event_end_time" %>
                  </div>
                </div>  
                <div class="no-time">
                  <div class="field">
                    <%= f.label :start_time, "Start Date" %><br>
                    <%= f.datetime_select_install1 :start_time, class: "form-control event_start_time" %>
                  </div>
                  <div class="field">
                    <%= f.label :end_time, "End Date" %><br>
                    <%= f.datetime_select_install2 :end_time, class: "form-control event_end_time" %>  
                  </div>  
                </div> 
              </div>  

              <hr>

              <button type="button" class="btn btn-custom1 btn-block" id="create-event-button">Create </button>
              
            </div> 
          </div>
        </div>
      </div>
      </div>
    <% end %>
  <!-- Modal -->
</div>

<div class="article-box">
  <div id='calendar'></div>
</div>


