<% @title = "Printer Friendly Playlist - Definite6.com"%>

<div id="idata1" class="hidden">
  [["<%= @event.title%>", "", ""],
  ["Hash", "Formation", "Play"],
  <% @plays[0..38].each do |play| %> 
    <% if play.hash_mark %> 
      ["<%= play.hash_mark %>", 
    <% else %>  
      [" "
    <% end %>
    "<%= play.piece1 %>",  
    <% if play.piece2 %>
      "<%= play.piece2 %>"] 
    <% else %>  
      " "]
    <% end %> 
    <%= "," unless play == @event.plays.last || play == @event.plays[38] %>
  <% end %>]
</div>

<div id="idata2" class="hidden">
  <% if @event.plays.count > 39 %>
    [["Hash", "Formation", "Play"],
    <% @plays[39..78].each do |play| %> 
      <% if play.hash_mark %> 
        ["<%= play.hash_mark %>", 
      <% else %>  
        [" "
      <% end %>
      "<%= play.piece1 %>",  
      <% if play.piece2 %>
        "<%= play.piece2 %>"] 
      <% else %>  
        " "]
      <% end %> 
      <%= "," unless play == @event.plays.last || play == @event.plays[78] %>
    <% end %>]
  <% end %>  
</div>

<div id="idata3" class="hidden">
  <% if @event.plays.count > 78 %>
    [["Hash", "Formation", "Play"],
    <% @plays[79..118].each do |play| %> 
      <% if play.hash_mark %> 
        ["<%= play.hash_mark %>", 
      <% else %>  
        [" "
      <% end %>
      "<%= play.piece1 %>",  
      <% if play.piece2 %>
        "<%= play.piece2 %>"] 
      <% else %>  
        " "]
      <% end %> 
      <%= "," unless play == @event.plays.last || play == @event.plays[118] %>
    <% end %>]
  <% end %>  
</div>

<span><%= link_to 'Return to Install', 'javascript:history.go(-1);', class: "btn btn-custom3 btn-sm print-button" %></span>
<span><%= link_to 'Print <i class="fa fa-print"></i>'.html_safe, '#', class: "btn btn-custom1 btn-sm print-button", :onclick => 'window.print();return false;'%></span>

<p></p>

<div class="sign-in-container">
  <div id="installPrint1"></div>

  <footer></footer>

  <% if @event.plays.count > 40 %>
    <div id="installPrint2"></div>
  <% end %>   

  <footer></footer>

  <% if @event.plays.count > 80 %>
    <div id="installPrint3"></div>
    <br>
    <br>
  <% end %> 
</div>
<br>
<br>
<br>
