<p id="notice"><%= notice %></p>

<h1 class="install-header"><%= @event.title %></h1>

<p>
<div class="fake-h4">Dates:&nbsp </div><div class="inline"><%= @event.start_time.strftime("%m-%d-%Y") %> - <%= @event.end_time.strftime("%m-%d-%Y") %></div>
</p>

<p>
<% if @event.description? %>
  <div class="inline"><%= @event.description %></div>
<% end %>
</p>
<hr>

<div class="media">
  <div class="media-body">
    <table class="table table-hover sortable" id="plays_table">
      <thead id="plays-thead">
        <tr>
          <th>Play Name</th>
          <th class="table-center">Period 1</th>
          <th class="table-center">Period 2</th>
          <th class="table-center">Period 3</th>
          <th class="table-center">Period 4</th>
        </tr>   
      </thead>
      <tfoot id="plays-tfoot">
        <tr>
          <td class="table-footer">Total Plays per Period</td>
          <td class="table-footer table-center" id="period1-count"><%= @period1_count %></td>
          <td class="table-footer table-center" id="period2-count"><%= @period2_count %></td>
          <td class="table-footer table-center" id="period3-count"><%= @period3_count %></td>
          <td class="table-footer table-center" id="period4-count"><%= @period4_count %></td>
        </tr>  
      </tfoot>
      <div id="container_plays">
        <%= render partial: "events/plays/play", collection: @plays %>
      </div>
    </table>
  </div>
</div>    

<% if @period1_count > 25 || @period2_count > 25 || @period3_count > 25 || @period4_count > 25  %>
  <div id="count-alert" class="red">Only the first 25 plays in each period will be included in the script initially created.</div> 
  <br> 
<% end %>

<span><%= link_to 'Printer Friendly Play List', event_print_path(@event), class: "btn btn-custom3 btn-sm", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading Printable List..."} %></span>

<span><%= link_to 'Sortable Play List Summary', event_sortable_path(@event), class: "btn btn-custom3 btn-sm", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading Summary..."} %></span>


<!-- Button trigger remove multiple plays modal -->
<span class="pull-right margin-left"><button type="button" class="btn btn-custom2 btn-sm" data-toggle="modal" data-target="#removePlaysModal">Remove Multiple</button></span>


<!-- Remove multiple plays modal -->
<div class="modal fade list-modal" id="removePlaysModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Remove Multiple Plays from Install</h4>
      </div>
      <%= form_tag destroy_multiple_event_plays_path(@event), method: :delete do %>
        <div class="modal-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th><%= check_box_tag "delete-check-all" %></th>
                <th>Select Plays to Remove</th>
              </tr>
            </thead>
            <tbody>
              <% @plays.each do |play| %>
                <tr>
                  <td><%= check_box_tag "play_ids[]", play.id, false, {:class => "delete-checkbox"} %></td>
                  <td><%= play.fullname %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>  
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= button_tag "Remove Selected", class: "btn btn-custom2", data: {disable_with: '<i class="fa fa-spinner fa-spin"></i> Removing Plays...'} %>
        </div>
      <% end %>  
    </div>
  </div>
</div>


<!-- Button trigger update plays modal -->
<span class="pull-right margin-left"><button type="button" class="btn btn-custom4 btn-sm" data-toggle="modal" data-target="#updatePlaysModal">Update Multiple</button></span>

<%= render partial: "events/multiple", collection: @plays %>

<!-- Button trigger import plays modal -->
<span class="pull-right"><button type="button" class="btn btn-custom3 btn-sm" data-toggle="modal" data-target="#importPlaysModal">Import Plays from Existing Install</button></span>

<%= form_tag url_for(:controller => "events", :action => "import_plays"), :method => "get" do %>
  <!-- Import plays modal -->
  <div class="modal fade" id="importPlaysModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Import Plays from Existing Install</h4>
        </div>
        <div class="modal-body">
          
          <div class="form-group">
            <%= label_tag :chose_install, 'Chose Install' %>
            <%= select_tag 'ievent', options_from_collection_for_select(@ievents, 'id', 'title'), class: "form-control", id: "install-dropdown"%>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Import Plays", class: "btn btn-custom1" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>
<br>
<div>
  <%= render partial: "events/plays/newplay" %>
</div>

<br>
<hr>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Scripts for <%= @event.title %></th>
          <th class="table-center">Date</th>
        </tr>   
      </thead>
      <tbody>
      <div id="container_scripts">
        <%= render partial: "events/scripts/script", collection: @scripts %>
      </div>
      </tbody>
    </table>
  </div>
</div> 

<div>
  <%= render partial: "events/scripts/newscript" %>
</div>

<br>
<hr>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Game Call Sheet for <%= @event.title %></th>
          <th class="table-center">Date</th>
        </tr>   
      </thead>
      <tbody>
      <div id="container_gamecalls">
        <%= render partial: "events/gamecalls/gamecall", collection: @gamecalls %>
      </div>
      </tbody>
    </table>
  </div>
</div> 

<div>
  <%= render partial: "events/gamecalls/newgamecall" %>
</div>

<hr> 
<br>
<br>
<br>


