<div class="overlay">
  <div class="loader center"><i class='fa fa-spinner fa-spin fa-5x'></i></div>
</div>

<% if @event.event_type == "Install" %>

  <% @title = @event.title + " - Definite6.com" %>

  <br>

  <p class="large-text center"><%= @event.title %></p>

  <br>

  <p>
  <div class="fake-h4 inline">Dates:&nbsp </div><div class="inline"><%= @event.start_time.strftime("%m-%d-%Y") %> - <%= @event.end_time.strftime("%m-%d-%Y") %></div>
  </p>

  <% unless browser.chrome? || browser.safari?%>
    <p class="center red"><strong>***Definite6 works best on the Google Chrome web browswer >> <%= link_to 'Click Here to Download Google Chrome', 'https://www.google.com/chrome/browser/desktop/index.html', target: "_blank" %>***</strong></p>
  <% end %>

  <p>
  <% if @event.description? %>
    <div class="inline"><strong><%= @event.description %></strong></div>
  <% end %>
  </p>

  <div class="install-box">
    <div class="media">
      <div class="media-body">
        <table class="table table-hover" id="plays_table">
          <thead id="plays-thead">
            <tr>
              <th class="fake-h4">Play Name</th>
              <th class="small-screen-hide">Run/Pass</th>
              <th class="small-screen-hide">Hash</th>
              <th class="table-center small-screen-hide small-font">Segment 1</th>
              <th class="table-center small-screen-hide small-font">Segment 2</th>
              <th class="table-center small-screen-hide small-font">Segment 3</th>
              <th class="table-center small-screen-hide small-font">Segment 4</th>
              <th></th>
            </tr>   
          </thead>
          <tbody class="sortable" id="plays-body">
            <div id="container_plays">
              <%= render partial: "events/plays/play", collection: @plays %>
            </div>
          </tbody>
          <tfoot id="plays-tfoot">
            <tr>
              <td class="table-footer">Total Plays per Segment</td>
              <td colspan=2></td>
              <td class="table-footer table-center small-screen-hide" id="period1-count"><%= @period1_count %></td>
              <td class="table-footer table-center small-screen-hide" id="period2-count"><%= @period2_count %></td>
              <td class="table-footer table-center small-screen-hide" id="period3-count"><%= @period3_count %></td>
              <td class="table-footer table-center small-screen-hide" id="period4-count"><%= @period4_count %></td>
            </tr>  
          </tfoot>
        </table>
      </div>
    </div>    

    <div id="ph-count-alert" class="red"></div>

    <% if @period1_count > 25 || @period2_count > 25 || @period3_count > 25 || @period4_count > 25  %>
      <div id="count-alert" class="red">Only the first 25 plays in each period will be included in the script when initially created.</div> 
      <br> 
    <% end %>
  </div>

  <br>

  <div>
    <%= render partial: "events/plays/newplay" %>
  </div>

  <br>

  <div>
    <%= link_to 'Printer Friendly Play List', event_print_path(@event), class: "btn btn-custom3 btn-sm small-block" %>

    <%= link_to 'Sortable Play List Summaries', event_sortable_path(@event), class: "btn btn-custom3 btn-sm small-block" %>

    <span class="dropdown">
      <button class="btn btn-custom3 btn-sm small-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Call Sheet Summaries <b class="caret"></b></button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item"><%= link_to 'Openers', event_summary_openers_path(@event) %></li>
        <li class="dropdown-item"><%= link_to '1st/2nd & Ten', event_summary_first_and_ten_path(@event) %></li>
        <li class="dropdown-item"><%= link_to '2nd & Long', event_summary_second_and_long_path(@event) %></li>
        <li class="dropdown-item"><%= link_to '3rd & Long', event_summary_third_and_long_path(@event) %></li>
        <li class="dropdown-item"><%= link_to '2nd & Medium', event_summary_second_and_medium_path(@event) %></li>
        <li class="dropdown-item"><%= link_to '3rd & Medium', event_summary_third_and_medium_path(@event) %></li>
        <li class="dropdown-item"><%= link_to '2nd & Short', event_summary_second_and_short_path(@event) %></li>
        <li class="dropdown-item"><%= link_to '3rd & Short', event_summary_third_and_short_path(@event) %></li>
        <li class="dropdown-item"><%= link_to 'Redzone', event_summary_redzone_path(@event) %></li>
        <li class="dropdown-item"><%= link_to 'Goaline', event_summary_goaline_path(@event) %></li>
        <li class="dropdown-item"><%= link_to 'Coming Out', event_summary_coming_out_path(@event) %></li>
        <li class="dropdown-item"><%= link_to 'Custom 1', event_summary_custom_one_path(@event) %></li>
        <li class="dropdown-item"><%= link_to 'Custom 2', event_summary_custom_two_path(@event) %></li>
        <li class="dropdown-item"><%= link_to 'Custom 3', event_summary_custom_three_path(@event) %></li>
      </ul>
    </span>

    <!-- Button trigger remove multiple plays modal -->
    <button type="button" class="btn btn-custom2 btn-sm small-block pull-right margin-left" data-toggle="modal" data-target="#removePlaysModal">Remove Multiple</button>

    <!-- Button trigger update plays modal -->
    <button type="button" class="btn btn-custom4 btn-sm small-block pull-right margin-left" data-toggle="modal" data-target="#updatePlaysModal">Update Multiple</button>

    <!-- Button trigger import plays modal -->
    <button type="button" class="btn btn-custom3 btn-sm small-block pull-right" data-toggle="modal" data-target="#importPlaysModal">Import Plays from Existing Install</button>
  </div>


  <!-- Update multiple plays modal -->
  <div class="modal fade list-modal" id="updatePlaysModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog custom-class" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Update Multiple Plays</h4>
        </div>
        <%= form_tag update_multiple_event_plays_path(@event), method: :put do  %>
          <div class="modal-body">  
            <table class="table table-hover">
              <thead>
                <tr>
                  <th><%= check_box_tag "check-all" %></th>
                  <th>Select Plays to Update</th>
                  <th class="table-center">Availability</th>
                  <th class="table-center xs-screen-hide">Run/Pass</th>
                  <th class="table-center xs-screen-hide">Hash</th>
                </tr>
              </thead>
              <tbody id="multiples-body">
                <%= render partial: "events/plays/multiple", collection: @plays, as: :multiple_play %>
              </tbody>
            </table>
            <%= fields_for :play do |f| %>
              <hr>
              <hr>
              <%= check_box_tag :periods %> Update Segments Plays are Practiced in
              <div class="period-select">
                <div class="row">
                  <div class="col-xs-6 col-md-8"></div>
                  <div class="col-xs-1"><strong>1</strong></div>
                  <div class="col-xs-1"><strong>2</strong></div>
                  <div class="col-xs-1"><strong>3</strong></div>
                  <div class="col-xs-1"><strong>4</strong></div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-md-8"><strong>Practice in Segment:</strong></div>
                  <div class="col-xs-1">                    
                    <div class="field form-group">
                      <div class="checkbox-inline">
                        <%= f.check_box :period1, :checked => 'checked' %>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-1">
                    <div class="field form-group">
                      <div class="checkbox-inline">
                        <%= f.check_box :period2, :checked => 'checked' %>
                      </div>
                    </div>  
                  </div>
                  <div class="col-xs-1">
                    <div class="field form-group">
                      <div class="checkbox-inline">
                        <%= f.check_box :period3, :checked => 'checked' %>
                      </div>
                    </div>   
                  </div>
                  <div class="col-xs-1">
                    <div class="field form-group">
                      <div class="checkbox-inline">
                        <%= f.check_box :period4, :checked => 'checked' %>
                      </div>
                    </div>  
                  </div>
                </div>
              </div>
              <hr>
              <%= check_box_tag :types %> Update Run/Pass
              <br>
              <div class="form-group multi-type">
              <br>
              <%= f.label :play_type, "Run/Pass" %> 
                <div>
                  <%= f.select(:play_type, options_for_select([[' ', ' '], ['Run', 'Run'], ['Pass', 'Pass']]), {}, {class: "form-control"}) %>
                </div>  
              </div>
              <hr>
              <%= check_box_tag :hashes %> Update Hash
              <br>
              <div class="form-group multi-hash">
                <br>
                <%= f.label :hash_mark, "Hash" %> 
                <div>
                  <%= f.select(:hash_mark, options_for_select([[' ', ' '], ['Left', 'Left'], ['Right', 'Right']]), {}, {class: "form-control"}) %>
                </div>  
              </div>
              <hr>
              <hr>
              <%= check_box_tag :situation_1 %> Update First Assigned Situation
              <br>
              <div class="form-group multi-situation1">
                <br>
                <%= f.label :situation1, "First Assigned Situation" %> 
                <div>
                  <%= f.select(:situation1, options_for_select([[' ', ' '], ['Opener', 'Opener'], ['1st/2nd & 10', '1st/2nd & 10'], ['2nd & Long', '2nd & Long'], ['2nd & Medium', '2nd & Medium'], ['2nd & Short', '2nd & Short'], ['3rd & Long', '3rd & Long'],['3rd & Medium', '3rd & Medium'], ['3rd & Short', '3rd & Short'], ['Redzone', 'Redzone'], ['Goaline', 'Goaline'], ['Coming Out', 'Coming Out'], ['Custom 1', 'Custom 1'], ['Custom 2', 'Custom 2'], ['Custom 3', 'Custom 3']]), {}, {class: "form-control"}) %>
                </div>  
              </div>
              <hr>
              <%= check_box_tag :situation_2 %> Update Second Assigned Situation
              <br>
              <div class="form-group multi-situation2">
                <br>
                <%= f.label :situation2, "Second Assigned Situation" %> 
                <div>
                  <%= f.select(:situation2, options_for_select([[' ', ' '], ['Opener', 'Opener'], ['1st/2nd & 10', '1st/2nd & 10'], ['2nd & Long', '2nd & Long'], ['2nd & Medium', '2nd & Medium'], ['2nd & Short', '2nd & Short'], ['3rd & Long', '3rd & Long'],['3rd & Medium', '3rd & Medium'], ['3rd & Short', '3rd & Short'], ['Redzone', 'Redzone'], ['Goaline', 'Goaline'], ['Coming Out', 'Coming Out'], ['Custom 1', 'Custom 1'], ['Custom 2', 'Custom 2'], ['Custom 3', 'Custom 3']]), {}, {class: "form-control"}) %>
                </div>  
              </div>
              <hr>
              <%= check_box_tag :situation_3 %> Update Third Assigned Situation
              <br>
              <div class="form-group multi-situation3">
                <br>
                <%= f.label :situation3, "Third Assigned Situation" %> 
                <div>
                  <%= f.select(:situation3, options_for_select([[' ', ' '], ['Opener', 'Opener'], ['1st/2nd & 10', '1st/2nd & 10'], ['2nd & Long', '2nd & Long'], ['2nd & Medium', '2nd & Medium'], ['2nd & Short', '2nd & Short'], ['3rd & Long', '3rd & Long'],['3rd & Medium', '3rd & Medium'], ['3rd & Short', '3rd & Short'], ['Redzone', 'Redzone'], ['Goaline', 'Goaline'], ['Coming Out', 'Coming Out'], ['Custom 1', 'Custom 1'], ['Custom 2', 'Custom 2'], ['Custom 3', 'Custom 3']]), {}, {class: "form-control"}) %>
                </div>  
              </div>
              <hr>
              <%= check_box_tag :situation_4 %> Update Fourth Assigned Situation
              <br>
              <div class="form-group multi-situation4">
                <br>
                <%= f.label :situation4, "Fourth Assigned Situation" %> 
                <div>
                  <%= f.select(:situation4, options_for_select([[' ', ' '], ['Opener', 'Opener'], ['1st/2nd & 10', '1st/2nd & 10'], ['2nd & Long', '2nd & Long'], ['2nd & Medium', '2nd & Medium'], ['2nd & Short', '2nd & Short'], ['3rd & Long', '3rd & Long'],['3rd & Medium', '3rd & Medium'], ['3rd & Short', '3rd & Short'], ['Redzone', 'Redzone'], ['Goaline', 'Goaline'], ['Coming Out', 'Coming Out'], ['Custom 1', 'Custom 1'], ['Custom 2', 'Custom 2'], ['Custom 3', 'Custom 3']]), {}, {class: "form-control"}) %>
                </div>  
              </div>
              <hr>
              <%= check_box_tag :situation_5 %> Update Fifth Assigned Situation
              <br>
              <div class="form-group multi-situation5">
                <br>
                <%= f.label :situation5, "Fifth Assigned Situation" %> 
                <div>
                  <%= f.select(:situation5, options_for_select([[' ', ' '], ['Opener', 'Opener'], ['1st/2nd & 10', '1st/2nd & 10'], ['2nd & Long', '2nd & Long'], ['2nd & Medium', '2nd & Medium'], ['2nd & Short', '2nd & Short'], ['3rd & Long', '3rd & Long'],['3rd & Medium', '3rd & Medium'], ['3rd & Short', '3rd & Short'], ['Redzone', 'Redzone'], ['Goaline', 'Goaline'], ['Coming Out', 'Coming Out'], ['Custom 1', 'Custom 1'], ['Custom 2', 'Custom 2'], ['Custom 3', 'Custom 3']]), {}, {class: "form-control"}) %>
                </div>  
              </div> 
              <hr>
              <%= check_box_tag :situation_6 %> Update Sixth Assigned Situation
              <br>
              <div class="form-group multi-situation6">
                <br>
                <%= f.label :situation6, "Sixth Assigned Situation" %> 
                <div>
                  <%= f.select(:situation6, options_for_select([[' ', ' '], ['Opener', 'Opener'], ['1st/2nd & 10', '1st/2nd & 10'], ['2nd & Long', '2nd & Long'], ['2nd & Medium', '2nd & Medium'], ['2nd & Short', '2nd & Short'], ['3rd & Long', '3rd & Long'],['3rd & Medium', '3rd & Medium'], ['3rd & Short', '3rd & Short'], ['Redzone', 'Redzone'], ['Goaline', 'Goaline'], ['Coming Out', 'Coming Out'], ['Custom 1', 'Custom 1'], ['Custom 2', 'Custom 2'], ['Custom 3', 'Custom 3']]), {}, {class: "form-control"}) %>
                </div>  
              </div>                                                
              <hr>
              <%= check_box_tag :situation_7 %> Update Seventh Assigned Situation
              <br>
              <div class="form-group multi-situation7">
                <br>
                <%= f.label :situation7, "Seventh Assigned Situation" %> 
                <div>
                  <%= f.select(:situation7, options_for_select([[' ', ' '], ['Opener', 'Opener'], ['1st/2nd & 10', '1st/2nd & 10'], ['2nd & Long', '2nd & Long'], ['2nd & Medium', '2nd & Medium'], ['2nd & Short', '2nd & Short'], ['3rd & Long', '3rd & Long'],['3rd & Medium', '3rd & Medium'], ['3rd & Short', '3rd & Short'], ['Redzone', 'Redzone'], ['Goaline', 'Goaline'], ['Coming Out', 'Coming Out'], ['Custom 1', 'Custom 1'], ['Custom 2', 'Custom 2'], ['Custom 3', 'Custom 3']]), {}, {class: "form-control"}) %>
                </div>  
              </div> 
              <hr>
              <%= check_box_tag :situation_8 %> Update Eighth Assigned Situation
              <br>
              <div class="form-group multi-situation8">
                <br>
                <%= f.label :situation8, "Eighth Assigned Situation" %> 
                <div>
                  <%= f.select(:situation8, options_for_select([[' ', ' '], ['Opener', 'Opener'], ['1st/2nd & 10', '1st/2nd & 10'], ['2nd & Long', '2nd & Long'], ['2nd & Medium', '2nd & Medium'], ['2nd & Short', '2nd & Short'], ['3rd & Long', '3rd & Long'],['3rd & Medium', '3rd & Medium'], ['3rd & Short', '3rd & Short'], ['Redzone', 'Redzone'], ['Goaline', 'Goaline'], ['Coming Out', 'Coming Out'], ['Custom 1', 'Custom 1'], ['Custom 2', 'Custom 2'], ['Custom 3', 'Custom 3']]), {}, {class: "form-control"}) %>
                </div>  
              </div> 
              <hr>
              <%= check_box_tag :situation_9 %> Update Ninth Assigned Situation
              <br>
              <div class="form-group multi-situation9">
                <br>
                <%= f.label :situation9, "Ninth Assigned Situation" %> 
                <div>
                  <%= f.select(:situation9, options_for_select([[' ', ' '], ['Opener', 'Opener'], ['1st/2nd & 10', '1st/2nd & 10'], ['2nd & Long', '2nd & Long'], ['2nd & Medium', '2nd & Medium'], ['2nd & Short', '2nd & Short'], ['3rd & Long', '3rd & Long'],['3rd & Medium', '3rd & Medium'], ['3rd & Short', '3rd & Short'], ['Redzone', 'Redzone'], ['Goaline', 'Goaline'], ['Coming Out', 'Coming Out'], ['Custom 1', 'Custom 1'], ['Custom 2', 'Custom 2'], ['Custom 3', 'Custom 3']]), {}, {class: "form-control"}) %>
                </div>  
              </div> 
              <hr>
              <%= check_box_tag :situation_10 %> Update Tenth Assigned Situation
              <br>
              <div class="form-group multi-situation10">
                <br>
                <%= f.label :situation10, "Tenth Assigned Situation" %> 
                <div>
                  <%= f.select(:situation10, options_for_select([[' ', ' '], ['Opener', 'Opener'], ['1st/2nd & 10', '1st/2nd & 10'], ['2nd & Long', '2nd & Long'], ['2nd & Medium', '2nd & Medium'], ['2nd & Short', '2nd & Short'], ['3rd & Long', '3rd & Long'],['3rd & Medium', '3rd & Medium'], ['3rd & Short', '3rd & Short'], ['Redzone', 'Redzone'], ['Goaline', 'Goaline'], ['Coming Out', 'Coming Out'], ['Custom 1', 'Custom 1'], ['Custom 2', 'Custom 2'], ['Custom 3', 'Custom 3']]), {}, {class: "form-control"}) %>
                </div>  
              </div>             

            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= button_tag "Update Plays", class: "btn btn-custom1", data: {disable_with: '<i class="fa fa-spinner fa-spin"></i> Updating Plays...'} %>
          </div> 
        <% end %>   
      </div>
    </div>
  </div>


  <!-- Remove multiple plays modal -->
  <div class="modal fade list-modal" id="removePlaysModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Remove Multiple Plays from Install</h4>
        </div>
        <%= form_tag destroy_multiple_event_plays_path(@event), method: :delete do %>
          <div class="modal-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th><%= check_box_tag "delete-check-all" %></th>
                  <th>Select Plays to Remove</th>
                  <th class="table-center">Run/Pass</th>
                  <th class="table-center">Hash</th>
                </tr>
              </thead>
              <tbody id="remove-multiple-body">
                <%= render partial: "events/plays/remove_multiple", collection: @plays, as: :remove_play %>
              </tbody>
            </table>
          </div>  
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= button_tag "Remove Selected", class: "btn btn-custom2", data: {disable_with: '<i class="fa fa-spinner fa-spin"></i> Removing Plays...'} %>
          </div>
        <% end %>  
      </div>
    </div>
  </div>


  <%= form_tag url_for(:controller => "events", :action => "import_plays"), :method => "get" do %>
    <!-- Import plays modal -->
    <div class="modal fade" id="importPlaysModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Import Plays from Existing Install</h4>
          </div>
          <div class="modal-body">
            
            <div class="form-group">
              <%= label_tag :chose_install, 'Chose Install' %>
              <%= select_tag 'ievent', options_from_collection_for_select(@ievents, 'id', 'title'), class: "form-control", id: "install-dropdown"%>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag "Import Plays", class: "btn btn-custom1" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <br>
  <br>

  <hr class="light-smoke">

  <p class="center fake-h4">Scripts</p>

  <div class="table" id="scripts-table">
    <div class="tr">
      <span class="td script-col1"><strong>Practice Scripts for <%= @event.title %></strong></span>
      <span class="td script-col2 center"><strong>Date</strong></span>
      <span class="td script-col3"></span>
      <span class="td script-col3"></span>
    </div>
      <%= render partial: "events/scripts/script", collection: @scripts %>
  </div>

  <div>
    <%= render partial: "events/scripts/newscript" %>
  </div>

  <br>

  <hr class="light-smoke">

  <% if @gamecall_count > 1 %>
   <p class="center fake-h4">Call Sheets</p>
  <% else %>
    <p class="center fake-h4">Call Sheet</p>
  <% end %>

  <div class="table" id="gamecalls-table">
    <div class="tr">
      <% if @gamecall_count > 1 %>
        <span class="td script-col1"><strong>Game Call Sheets for <%= @event.title %></strong></span>
      <% else %>
        <span class="td script-col1"><strong>Game Call Sheet for <%= @event.title %></strong></span>
      <% end %>  
      <span class="td script-col2 center"><strong>Date</strong></span>
      <span class="td script-col3"></span>
      <span class="td script-col3"></span>
    </div>
      <%= render partial: "events/gamecalls/gamecall", collection: @gamecalls %>
  </div>    

  <div>
    <%= render partial: "events/gamecalls/newgamecall" %>
  </div>

  <br>

  <hr class="light-smoke">

  <br>
  <br>
  <br>

<% else %>

  <% @title= "This is Not a Valid Page - Definite6.com" %>

  <div class="thank-you-container">

  <br>
  <br>

    <div class="article-box">
      <br>
      <br>

      <hr class="light-blue">
      <h2 class="text-center">This is not a valid page.</h2>

      <h5 class="text-center">You have reached this page in error.</h5>

      <p class="text-center">Send us an email if you're having technical problems.</p>

      <div class="text-center">
        <i class="fa fa-envelope-o fa-lg"></i>
        <p><a href="mailto:admin@definite6.com">admin@definite6.com</a></p>
      </div>
      <hr class="light-blue">

    </div>

  </div>

<br>
<br>
<br>
<br>
<br>
<br>

<% end %>

