<div class="overlay">
  <div class="loader center"><i class='fa fa-spinner fa-spin fa-5x'></i></div>
</div>

<% if @event.event_type == "Install" %>

  <% @title = @event.title + " - Definite6.com" %>

  <br>

  <p class="large-text center"><%= @event.title %></p>

  <p class="event-id hidden"><%= @event.id%></p>

  <p>
  <div class="fake-h4 inline">Dates:&nbsp </div><div class="inline"><%= @event.start_time.strftime("%m-%d-%Y") %> - <%= @event.end_time.strftime("%m-%d-%Y") %></div>
  </p>

  <% unless browser.chrome? || browser.safari?%>
    <p class="center red"><strong>***Definite6 works best on the Google Chrome web browswer >> <%= link_to 'Click Here to Download Google Chrome', 'https://www.google.com/chrome/browser/desktop/index.html', target: "_blank" %>***</strong></p>
  <% end %>

  <p>
  <% if @event.description? %>
    <div class="inline"><strong><%= @event.description %></strong></div>
  <% end %>
  </p>

  <div class="install-box">
    <div class="media">
      <div class="media-body">
        <table class="table table-hover" id="plays_table">
          <thead id="plays-thead">
            <tr>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="4" class="table-center small-screen-hide small-font grey-font"><i>Segments - for use with standard practice script</i></th>
            </tr>
            <tr>
              <th class="fake-h4">Play Name</th>
              <th class="small-screen-hide type-td">Run/Pass&nbsp&nbsp</th>
              <th class="small-screen-hide hash-td">Hash&nbsp&nbsp</th>
              <th class="table-center small-screen-hide small-font grey-font"><div class="install-table-check">Segment 1</div></th>
              <th class="table-center small-screen-hide small-font grey-font">Segment 2</th>
              <th class="table-center small-screen-hide small-font grey-font">Segment 3</th>
              <th class="table-center small-screen-hide small-font grey-font">Segment 4</th>
            </tr>   
          </thead>
          <tbody class="sortable" id="plays-body">
            <div id="container_plays">
              <%= render partial: "events/plays/play", collection: @plays %>
            </div>
          </tbody>
          <tfoot id="plays-tfoot">
            <tr>
              <td class="table-footer small-screen-hide">Total Plays per Segment</td>
              <td colspan=2></td>
              <td class="table-footer table-center small-screen-hide" id="period1-count"><%= @period1_count %></td>
              <td class="table-footer table-center small-screen-hide" id="period2-count"><%= @period2_count %></td>
              <td class="table-footer table-center small-screen-hide" id="period3-count"><%= @period3_count %></td>
              <td class="table-footer table-center small-screen-hide" id="period4-count"><%= @period4_count %></td>
            </tr>  
          </tfoot>
        </table>
      </div>
    </div>    

  </div>

  <br>

  <div>
    <%= render partial: "events/plays/newplay" %>
  </div>

  <br>

  <div>
    <%= link_to 'Printer Friendly Play List', event_print_path(@event), class: "btn btn-custom3 btn-sm small-block" %>

    <%= link_to 'Quick Situation Assignment', event_quick_assign_path(@event), class: "btn btn-custom3 btn-sm small-block" %>

    <span class="dropdown">
      <button class="btn btn-custom3 btn-sm small-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Call Sheet Summaries <b class="caret"></b></button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item"><%= link_to current_user.s_name1, event_summary_1_path(@event) %></li>
        <li class="dropdown-item"><%= link_to current_user.s_name2, event_summary_2_path(@event) %></li>
        <li class="dropdown-item"><%= link_to current_user.s_name3, event_summary_3_path(@event) %></li>
        <li class="dropdown-item"><%= link_to current_user.s_name4, event_summary_4_path(@event) %></li>
        <li class="dropdown-item"><%= link_to current_user.s_name5, event_summary_5_path(@event) %></li>
        <li class="dropdown-item"><%= link_to current_user.s_name6, event_summary_6_path(@event) %></li>
        <li class="dropdown-item"><%= link_to current_user.s_name7, event_summary_7_path(@event) %></li>
        <li class="dropdown-item"><%= link_to current_user.s_name8, event_summary_8_path(@event) %></li>
        <li class="dropdown-item"><%= link_to current_user.s_name9, event_summary_9_path(@event) %></li>
        <li class="dropdown-item"><%= link_to current_user.s_name10, event_summary_10_path(@event) %></li>
        <li class="dropdown-item"><%= link_to current_user.s_name11, event_summary_11_path(@event) %></li>
        <li class="dropdown-item"><%= link_to current_user.s_name12, event_summary_12_path(@event) %></li>
        <li class="dropdown-item"><%= link_to current_user.s_name13, event_summary_13_path(@event) %></li>
        <li class="dropdown-item"><%= link_to current_user.s_name14, event_summary_14_path(@event) %></li>
      </ul>
    </span>

    <!-- Button trigger remove multiple plays modal -->
    <button type="button" class="btn btn-custom2 btn-sm small-block pull-right margin-left" data-toggle="modal" data-target="#removePlaysModal">Remove Multiple</button>

    <!-- Button trigger update plays modal -->
    <button type="button" class="btn btn-custom4 btn-sm small-block pull-right margin-left" id="update-multi-open" data-toggle="modal" data-target="#updatePlaysModal">Update Multiple</button>

    <!-- Button trigger import plays modal -->
    <button type="button" class="btn btn-custom3 btn-sm small-block pull-right" data-toggle="modal" data-target="#importPlaysModal">Import Plays from Existing Install</button>
  </div>


  <!-- Update multiple plays modal -->
  <div class="modal fade list-modal" id="updatePlaysModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog custom-smaller-class" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title center" id="myModalLabel">Update Multiple Plays</h4>
        </div>
        <%= form_tag update_multiple_event_plays_path(@event), method: :put do  %>
          <div class="modal-body">  
            <%= select_tag "run_pass_all", options_for_select([['Run', 'Run'], ['Pass', 'Pass'], ['Left', 'Left'], ['Right', 'Right'], ['Run Left', 'Run Left'], ['Run Right', 'Run Right'], ['Pass Left', 'Pass Left'], ['Pass Right', 'Pass Right'], ['- Clear -', '- Clear -']]), prompt: "Select all...", id: "all-type" %>    
            <table class="table table-hover">
              <thead>
                <tr>
                  <th><%= check_box_tag "check-all" %></th>
                  <th>Plays</th>
                  <th class="table-center xs-screen-hide">Run/Pass</th>
                  <th class="table-center xs-screen-hide">Hash</th>
                </tr>
              </thead>
              <tbody id="multiples-body">
                <%= render partial: "events/plays/multiple", collection: @plays, as: :multiple_play %>
              </tbody>
            </table>
            <%= fields_for :play do |f| %>
              <hr>
              <hr>
              <%= check_box_tag :periods %> Update Segments Plays are Practiced in
              
              <div class="period-select">
               <br>
                <div class="table">
                  <div class="tr">
                    <span class="td script-col1"><strong>Practice in Segment:</strong></span>
                    <span class="td script-col2 center">1</span>
                    <span class="td script-col3 center">2</span>
                    <span class="td script-col3 center">3</span>
                    <span class="td script-col3 center">4</span>
                  </div>
                  <div class="tr">
                    <span class="script-col1 td"></span>
                    <span class="script-col2 td center"><%= f.check_box :period1 %></span>
                    <span class="script-col3 td center"><%= f.check_box :period2 %></span>
                    <span class="script-col3 td center"><%= f.check_box :period3 %></span>
                    <span class="script-col3 td center"><%= f.check_box :period4 %></span>
                  </div>
                </div>
              </div>

              <hr>

              <%= check_box_tag :types %> Update Run/Pass
              <br>
              <div class="form-group multi-type">
              <br>
              <%= f.label :play_type, "Run/Pass" %> 
                <div>
                  <%= f.select(:play_type, options_for_select([[' ', ' '], ['Run', 'Run'], ['Pass', 'Pass']]), {}, {class: "form-control"}) %>
                </div>  
              </div>
              <hr>
              <%= check_box_tag :hashes %> Update Hash
              <br>
              <div class="form-group multi-hash">
                <br>
                <%= f.label :hash_mark, "Hash" %> 
                <div>
                  <%= f.select(:hash_mark, options_for_select([[' ', ' '], ['Left', 'Left'], ['Right', 'Right']]), {}, {class: "form-control"}) %>
                </div>  
              </div>
              
              <hr>
              <hr>

              <%= check_box_tag :situation_1 %> Update <%= current_user.s_name1 %>
              <br>
              <div class="form-group multi-situation1">
                <br>
                <div class="table update-multi-sit-table">
                  <div class="tr">
                    <span class="td"><%= current_user.s_name1 %></span>
                    <span class="td center multi-update-check"><%= f.check_box :situation1 %></span>
                  </div>
                </div>   
              </div>
              <hr>
              <%= check_box_tag :situation_2 %> Update <%= current_user.s_name2 %>
              <br>
              <div class="form-group multi-situation2">
                <br>
                <div class="table update-multi-sit-table">
                  <div class="tr">
                    <span class="td"><%= current_user.s_name2 %></span>
                    <span class="td center multi-update-check"><%= f.check_box :situation2 %></span>
                  </div>
                </div>   
              </div>
              <hr>
              <%= check_box_tag :situation_3 %> Update <%= current_user.s_name3 %>
              <br>
              <div class="form-group multi-situation3">
                <br>
                <div class="table update-multi-sit-table">
                  <div class="tr">
                    <span class="td"><%= current_user.s_name3 %></span>
                    <span class="td center multi-update-check"><%= f.check_box :situation3 %></span>
                  </div>
                </div>  
              </div>
              <hr>
              <%= check_box_tag :situation_4 %> Update <%= current_user.s_name4 %>
              <br>
              <div class="form-group multi-situation4">
                <br>
                <div class="table update-multi-sit-table">
                  <div class="tr">
                    <span class="td"><%= current_user.s_name4 %></span>
                    <span class="td center multi-update-check"><%= f.check_box :situation4 %></span>
                  </div>
                </div> 
              </div>
              <hr>
              <%= check_box_tag :situation_5 %> Update <%= current_user.s_name5 %>
              <br>
              <div class="form-group multi-situation5">
                <br>
                <div class="table update-multi-sit-table">
                  <div class="tr">
                    <span class="td"><%= current_user.s_name5 %></span>
                    <span class="td center multi-update-check"><%= f.check_box :situation5 %></span>
                  </div>
                </div>  
              </div> 
              <hr>
              <%= check_box_tag :situation_6 %> Update <%= current_user.s_name6 %>
              <br>
              <div class="form-group multi-situation6">
                <br>
                <div class="table update-multi-sit-table">
                  <div class="tr">
                    <span class="td"><%= current_user.s_name6 %></span>
                    <span class="td center multi-update-check"><%= f.check_box :situation6 %></span>
                  </div>
                </div>  
              </div>                                                
              <hr>
              <%= check_box_tag :situation_7 %> Update <%= current_user.s_name7 %>
              <br>
              <div class="form-group multi-situation7">
                <br>
                <div class="table update-multi-sit-table">
                  <div class="tr">
                    <span class="td"><%= current_user.s_name7 %></span>
                    <span class="td center multi-update-check"><%= f.check_box :situation7 %></span>
                  </div>
                </div>   
              </div> 
              <hr>
              <%= check_box_tag :situation_8 %> Update <%= current_user.s_name8 %>
              <br>
              <div class="form-group multi-situation8">
                <br>
               <div class="table update-multi-sit-table">
                  <div class="tr">
                    <span class="td"><%= current_user.s_name8 %></span>
                    <span class="td center multi-update-check"><%= f.check_box :situation8 %></span>
                  </div>
                </div>  
              </div> 
              <hr>
              <%= check_box_tag :situation_9 %> Update <%= current_user.s_name9 %>
              <br>
              <div class="form-group multi-situation9">
                <br>
               <div class="table update-multi-sit-table">
                  <div class="tr">
                    <span class="td"><%= current_user.s_name9 %></span>
                    <span class="td center multi-update-check"><%= f.check_box :situation9 %></span>
                  </div>
                </div> 
              </div> 
              <hr>
              <%= check_box_tag :situation_10 %> Update <%= current_user.s_name10 %>
              <br>
              <div class="form-group multi-situation10">
                <br>
               <div class="table update-multi-sit-table">
                  <div class="tr">
                    <span class="td"><%= current_user.s_name10 %></span>
                    <span class="td center multi-update-check"><%= f.check_box :situation10 %></span>
                  </div>
                </div>  
              </div>             
              <hr>
              <%= check_box_tag :situation_11 %> Update <%= current_user.s_name11 %>
              <br>
              <div class="form-group multi-situation11">
                <br>
               <div class="table update-multi-sit-table">
                  <div class="tr">
                    <span class="td"><%= current_user.s_name11 %></span>
                    <span class="td center multi-update-check"><%= f.check_box :situation11 %></span>
                  </div>
                </div>  
              </div>  
              <hr>
              <%= check_box_tag :situation_12 %> Update <%= current_user.s_name12 %>
              <br>
              <div class="form-group multi-situation12">
                <br>
               <div class="table update-multi-sit-table">
                  <div class="tr">
                    <span class="td"><%= current_user.s_name12 %></span>
                    <span class="td center multi-update-check"><%= f.check_box :situation12 %></span>
                  </div>
                </div>  
              </div>  
              <hr>
              <%= check_box_tag :situation_13 %> Update <%= current_user.s_name13 %>
              <br>
              <div class="form-group multi-situation13">
                <br>
               <div class="table update-multi-sit-table">
                  <div class="tr">
                    <span class="td"><%= current_user.s_name13 %></span>
                    <span class="td center multi-update-check"><%= f.check_box :situation13 %></span>
                  </div>
                </div>  
              </div>  
              <hr>
              <%= check_box_tag :situation_14 %> Update <%= current_user.s_name14 %>
              <br>
              <div class="form-group multi-situation14">
                <br>
               <div class="table update-multi-sit-table">
                  <div class="tr">
                    <span class="td"><%= current_user.s_name14 %></span>
                    <span class="td center multi-update-check"><%= f.check_box :situation14 %></span>
                  </div>
                </div>  
              </div>                                            
            <% end %>
          </div>
          <div class="modal-footer">
            <%= button_tag "Update Plays", class: "btn btn-custom1 update-multi-button btn-block", data: {disable_with: '<i class="fa fa-spinner fa-spin"></i> Updating Plays...'} %>
          </div> 
        <% end %>   
      </div>
    </div>
  </div>


  <!-- Remove multiple plays modal -->
  <div class="modal fade list-modal" id="removePlaysModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title center" id="myModalLabel">Remove Multiple Plays from Install</h4>
        </div>
        <%= form_tag destroy_multiple_event_plays_path(@event), method: :delete do %>
          <div class="modal-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th><%= check_box_tag "delete-check-all" %></th>
                  <th>Select Plays to Remove</th>
                  <th class="table-center">Run/Pass</th>
                  <th class="table-center">Hash</th>
                </tr>
              </thead>
              <tbody id="remove-multiple-body">
                <%= render partial: "events/plays/remove_multiple", collection: @plays, as: :remove_play %>
              </tbody>
            </table>
          </div>  
          <div class="modal-footer">
            <%= button_tag "Remove Selected", class: "btn btn-custom2 remove-multi-button btn-block", data: {confirm: 'Are you sure?', disable_with: '<i class="fa fa-spinner fa-spin"></i> Removing Plays...'} %>
          </div>
        <% end %>  
      </div>
    </div>
  </div>


  <!-- Import plays modal -->
  <%= form_tag url_for(:controller => "events", :action => "import_plays"), :method => "get" do %>
    <div class="modal fade" id="importPlaysModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center" id="myModalLabel">Import Plays from Existing Install</h4>
          </div>
          <div class="modal-body">
            
            <div class="form-group">
              <%= label_tag :chose_install, 'Chose Install' %>
              <%= select_tag 'ievent', options_from_collection_for_select(@ievents, 'id', 'title'), class: "form-control", id: "install-dropdown", size: 3 %>
            </div>

          </div>
          <div class="modal-footer">
            <%= submit_tag "Import Plays", class: "btn btn-custom1 btn-block", id:"import-plays-button" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <br>
  <br>

  <hr class="light-smoke">

  <p class="center fake-h4">Practice Schedules</p>

  <div class="table" id="practice_schedules-table">
    <div class="tr">
      <span class="td script-col1"><strong>Practice Schedules for <%= @event.title %></strong></span>
      <span class="td script-col2 center"><strong>Date</strong></span>
      <span class="td script-col3"></span>
      <span class="td script-col3"></span>
    </div>
      <%= render partial: "events/practice_schedules/practice_schedule", collection: @practice_schedules %>
  </div>

  <div>
    <%= render partial: "events/practice_schedules/newpractice_schedule" %>
  </div>

  <br>  

  <hr class="light-smoke">

  <p class="center fake-h4">Scripts</p>

  <div class="table" id="scripts-table">
    <div class="tr">
      <span class="td script-col1"><strong>Practice Scripts for <%= @event.title %></strong></span>
      <span class="td script-col2 center"><strong>Date</strong></span>
      <span class="td script-col3"></span>
      <span class="td script-col3"></span>
    </div>
      <%= render partial: "events/scripts/script", collection: @scripts %>
  </div>

  <div>
    <%= render partial: "events/scripts/newscript" %>
  </div>

  <br>

  <hr class="light-smoke">

  <% if @gamecall_count > 1 %>
   <p class="center fake-h4">Call Sheets</p>
  <% else %>
    <p class="center fake-h4">Call Sheet</p>
  <% end %>

  <div class="table" id="gamecalls-table">
    <div class="tr">
      <% if @gamecall_count > 1 %>
        <span class="td script-col1"><strong>Game Call Sheets for <%= @event.title %></strong></span>
      <% else %>
        <span class="td script-col1"><strong>Game Call Sheet for <%= @event.title %></strong></span>
      <% end %>  
      <span class="td script-col2 center"><strong>Date</strong></span>
      <span class="td script-col3"></span>
      <span class="td script-col3"></span>
    </div>
      <%= render partial: "events/gamecalls/gamecall", collection: @gamecalls %>
  </div>    

  <div>
    <%= render partial: "events/gamecalls/newgamecall" %>
  </div>

  <br>

  <hr class="light-smoke">

  <br>
  <br>
  <br>

<% else %>

  <% @title= "This is Not a Valid Page - Definite6.com" %>

  <div class="thank-you-container">

  <br>
  <br>

    <div class="article-box">
      <br>
      <br>

      <hr class="light-blue">
      <h2 class="text-center">This is not a valid page.</h2>

      <h5 class="text-center">You have reached this page in error.</h5>

      <p class="text-center">Send us an email if you're having technical problems.</p>

      <div class="text-center">
        <i class="fa fa-envelope-o fa-lg"></i>
        <p><a href="mailto:admin@definite6.com">admin@definite6.com</a></p>
      </div>
      <hr class="light-blue">

    </div>

  </div>

<br>
<br>
<br>
<br>
<br>
<br>

<% end %>

