<% @title = "Sortable Play Summary - Definite6.com"%>


<% @event.scripts.each do |script| %>
  <div><%= script.title %></div>
<% end %>

<div id="colHeadings" class="hidden">
  ["Play", "Hash", "Type", "<span># of Reps</span>", "<%= current_user.s_name1 %>", "<%= current_user.s_name2 %>", "<%= current_user.s_name3 %>", "<%= current_user.s_name4 %>", "<%= current_user.s_name5 %>", "<%= current_user.s_name6 %>", "<%= current_user.s_name7 %>", "<%= current_user.s_name8 %>", "<%= current_user.s_name9 %>", "<%= current_user.s_name10 %>", "<%= current_user.s_name11 %>", "<%= current_user.s_name12 %>", "<%= current_user.s_name13 %>", "<%= current_user.s_name14 %>"]
</div>

<div id="sortData" class="hidden">
  [<% @plays.each do |play| %> 
    ["<%= play.fullname %>",
    <% if play.hash_mark %> 
      "<%= play.hash_mark %>", 
    <% else %>  
      " ",
    <% end %>  
    <% if play.play_type %>
      "<%= play.play_type %>", 
    <% else %>  
      " ",
    <% end %> 
    "<%= play.play_count(@event.scripts) %>",
    <% if play.situation1 == "Opener" || play.situation2 == "Opener" || play.situation3 == "Opener" || play.situation4 == "Opener" || play.situation5 == "Opener" || play.situation6 == "Opener" || play.situation7 == "Opener" || play.situation8 == "Opener" || play.situation9 == "Opener" || play.situation10 == "Opener" %>
      "X",
    <% else %>
      " ",
    <% end %>
    <% if play.situation1 == "1st/2nd & 10" || play.situation2 == "1st/2nd & 10" || play.situation3 == "1st/2nd & 10" || play.situation4 == "1st/2nd & 10" || play.situation5 == "1st/2nd & 10" || play.situation6 == "1st/2nd & 10" || play.situation7 == "1st/2nd & 10" || play.situation8 == "1st/2nd & 10" || play.situation9 == "1st/2nd & 10" || play.situation10 == "1st/2nd & 10" %>
      "X",
    <% else %>
      " ",
    <% end %>
    <% if play.situation1 == "2nd & Long" || play.situation2 == "2nd & Long" || play.situation3 == "2nd & Long" || play.situation4 == "2nd & Long" || play.situation5 == "2nd & Long" || play.situation6 == "2nd & Long" || play.situation7 == "2nd & Long" || play.situation8 == "2nd & Long" || play.situation9 == "2nd & Long" || play.situation10 == "2nd & Long" %>
      "X",
    <% else %>
      " ",
    <% end %>
    <% if play.situation1 == "2nd & Medium" || play.situation2 == "2nd & Medium" || play.situation3 == "2nd & Medium" || play.situation4 == "2nd & Medium" || play.situation5 == "2nd & Medium" || play.situation6 == "2nd & Medium" || play.situation7 == "2nd & Medium" || play.situation8 == "2nd & Medium" || play.situation9 == "2nd & Medium" || play.situation10 == "2nd & Medium" %>
      "X",
    <% else %>
      " ",
    <% end %>
    <% if play.situation1 == "2nd & Short" || play.situation2 == "2nd & Short" || play.situation3 == "2nd & Short" || play.situation4 == "2nd & Short" || play.situation5 == "2nd & Short" || play.situation6 == "2nd & Short" || play.situation7 == "2nd & Short" || play.situation8 == "2nd & Short" || play.situation9 == "2nd & Short" || play.situation10 == "2nd & Short" %>
      "X",
    <% else %>
      " ",
    <% end %>
    <% if play.situation1 == "3rd & Long" || play.situation2 == "3rd & Long" || play.situation3 == "3rd & Long" || play.situation4 == "3rd & Long" || play.situation5 == "3rd & Long" || play.situation6 == "3rd & Long" || play.situation7 == "3rd & Long" || play.situation8 == "3rd & Long" || play.situation9 == "3rd & Long" || play.situation10 == "3rd & Long" %>
      "X",
    <% else %>
      " ",
    <% end %>
    <% if play.situation1 == "3rd & Medium" || play.situation2 == "3rd & Medium" || play.situation3 == "3rd & Medium" || play.situation4 == "3rd & Medium" || play.situation5 == "3rd & Medium" || play.situation6 == "3rd & Medium" || play.situation7 == "3rd & Medium" || play.situation8 == "3rd & Medium" || play.situation9 == "3rd & Medium" || play.situation10 == "3rd & Medium" %>
      "X",
    <% else %>
      " ",
    <% end %>
    <% if play.situation1 == "3rd & Short" || play.situation2 == "3rd & Short" || play.situation3 == "3rd & Short" || play.situation4 == "3rd & Short" || play.situation5 == "3rd & Short" || play.situation6 == "3rd & Short" || play.situation7 == "3rd & Short" || play.situation8 == "3rd & Short" || play.situation9 == "3rd & Short" || play.situation10 == "3rd & Short" %>
      "X",
    <% else %>
      " ",
    <% end %>
    <% if play.situation1 == "Redzone" || play.situation2 == "Redzone" || play.situation3 == "Redzone" || play.situation4 == "Redzone" || play.situation5 == "Redzone" || play.situation6 == "Redzone" || play.situation7 == "Redzone" || play.situation8 == "Redzone" || play.situation9 == "Redzone" || play.situation10 == "Redzone" %>
      "X",
    <% else %>
      " ",
    <% end %>
    <% if play.situation1 == "Goal Line" || play.situation2 == "Goal Line" || play.situation3 == "Goal Line" || play.situation4 == "Goal Line" || play.situation5 == "Goal Line" || play.situation6 == "Goal Line" || play.situation7 == "Goal Line" || play.situation8 == "Goal Line" || play.situation9 == "Goal Line" || play.situation10 == "Goal Line" %>
      "X",
    <% else %>
      " ",
    <% end %>
    <% if play.situation1 == "Coming Out" || play.situation2 == "Coming Out" || play.situation3 == "Coming Out" || play.situation4 == "Coming Out" || play.situation5 == "Coming Out" || play.situation6 == "Coming Out" || play.situation7 == "Coming Out" || play.situation8 == "Coming Out" || play.situation9 == "Coming Out" || play.situation10 == "Coming Out" %>
      "X",
    <% else %>
      " ",
    <% end %>  
        <% if play.situation1 == "Custom 1" || play.situation2 == "Custom 1" || play.situation3 == "Custom 1" || play.situation4 == "Custom 1" || play.situation5 == "Custom 1" || play.situation6 == "Custom 1" || play.situation7 == "Custom 1" || play.situation8 == "Custom 1" || play.situation9 == "Custom 1" || play.situation10 == "Custom 1" %>
      "X",
    <% else %>
      " ",
    <% end %> 
    <% if play.situation1 == "Custom 2" || play.situation2 == "Custom 2" || play.situation3 == "Custom 2" || play.situation4 == "Custom 2" || play.situation5 == "Custom 2" || play.situation6 == "Custom 2" || play.situation7 == "Custom 2" || play.situation8 == "Custom 2" || play.situation9 == "Custom 2" || play.situation10 == "Custom 2" %>
      "X",
    <% else %>
      " ",
    <% end %>   
    <% if play.situation1 == "Custom 3" || play.situation2 == "Custom 3" || play.situation3 == "Custom 3" || play.situation4 == "Custom 3" || play.situation5 == "Custom 3" || play.situation6 == "Custom 3" || play.situation7 == "Custom 3" || play.situation8 == "Custom 3" || play.situation9 == "Custom 3" || play.situation10 == "Custom 3" %>
      "X"]
    <% else %>
      " "]
    <% end %> 
    <%= "," unless play == @plays.last %>
  <% end %>]
</div>

<br>
<br>

<p class="large-text center"><%= @event.title %></p>


<p>
<div class="fake-h4 inline">Dates:&nbsp </div><div class="inline"><%= @event.start_time.strftime("%m-%d-%Y") %> - <%= @event.end_time.strftime("%m-%d-%Y") %></div>
</p>

<div><%= link_to 'Return to Install', 'javascript:history.go(-1);', class: "btn btn-custom3 btn-sm print-button" %></div>

<hr class="light-blue">

<h4>Sort by Situation</h4>

Click Hash, Type, or situation column headers to sort
<br>

<div id="installSortable"></div>
<br>
<br>

<div id="sortData2" class="hidden">
  [<% @plays.each do |play| %> 
    ["<%= play.fullname %>",
    <% if play.situation1 %> 
      "<%= play.new_situation1 %>", 
    <% else %>  
      " ",
    <% end %>
    <% if play.situation2 %> 
      "<%= play.new_situation2 %>", 
    <% else %>  
      " ",
    <% end %>
    <% if play.situation3 %> 
      "<%= play.new_situation3 %>", 
    <% else %>  
      " ",
    <% end %>
    <% if play.situation4 %> 
      "<%= play.new_situation4 %>", 
    <% else %>  
      " ",
    <% end %>
    <% if play.situation5 %> 
      "<%= play.new_situation5 %>", 
    <% else %>  
      " ",
    <% end %>
    <% if play.situation6 %> 
      "<%= play.new_situation6 %>", 
    <% else %>  
      " ",
    <% end %>
    <% if play.situation7 %> 
      "<%= play.new_situation7 %>", 
    <% else %>  
      " ",
    <% end %>
    <% if play.situation8 %> 
      "<%= play.new_situation8 %>", 
    <% else %>  
      " ",
    <% end %>
    <% if play.situation9 %> 
      "<%= play.new_situation9 %>", 
    <% else %>  
      " ",
    <% end %>
    <% if play.situation10 %> 
      "<%= play.new_situation10 %>"] 
    <% else %>  
      " "]
    <% end %>                                    
    <%= "," unless play == @plays.last %>
  <% end %>]
</div>
   
<hr class="light-blue">

<h4>Situation Availability per Play</h4>

Click Situation column headers to sort
<br>

<div id="installSituation"></div>
<br>
<br>
