<% @title = current_user.s_name13 + " Call Sheet Summary - Definite6.com" %>

<br>

<p class="large-text center">Call Sheet Summary</p>

<div class="thin-container">

  <br>
  <br>

  <div class="row row-no-gutter"> 
    <div class="col-xs-2"></div> 
    <div class="col-xs-8"><div class="center summary-border <%= current_user.sit13_color %>"><strong><%= current_user.s_name13 %> - Run</strong></div></div>
    <div class="col-xs-2"></div>
  </div>
  <div class="row row-no-gutter"> 
    <div class="col-xs-2"></div> 
    <div class="col-xs-4">        
      <% @run_lefts.each do |play| %>
        <div class="center summary-border white-bg" ><%= play.fullname %></div>
      <% end %> 
      <% (1..@run_lefts_remain).each do |div| %>
        <div class="center summary-border white-bg trans">#</div>
      <% end %>
    </div>  
    <div class="col-xs-4">        
      <% @run_rights.each do |play| %>
        <div class="center summary-border white-bg" ><%= play.fullname %></div>
      <% end %>
      <% (1..@run_rights_remain).each do |div| %>
        <div class="center summary-border white-bg trans">#</div>
      <% end %>
    <div class="col-xs-2"></div>
    </div>  
  </div>
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-4 center"><strong>Spaces Remaining: <%= @run_lefts_remain %></strong></div>
    <div class="col-xs-4 center"><strong>Spaces Remaining: <%= @run_rights_remain %></strong></div>
    <div class="col-xs-2"></div>
  </div>

  <br>

  <div class="row row-no-gutter"> 
    <div class="col-xs-2"></div> 
    <div class="col-xs-8"><div class="center summary-border <%= current_user.sit13_color %>"><strong><%= current_user.s_name13 %> - Pass</strong></div></div>
    <div class="col-xs-2"></div>
  </div>
  <div class="row row-no-gutter"> 
    <div class="col-xs-2"></div> 
    <div class="col-xs-4">        
      <% @pass_lefts.each do |play| %>
        <div class="center summary-border white-bg" ><%= play.fullname %></div>
      <% end %> 
      <% (1..@pass_lefts_remain).each do |div| %>
        <div class="center summary-border white-bg trans">#</div>
      <% end %>
    </div>  
    <div class="col-xs-4">        
      <% @pass_rights.each do |play| %>
        <div class="center summary-border white-bg" ><%= play.fullname %></div>
      <% end %>
      <% (1..@pass_rights_remain).each do |div| %>
        <div class="center summary-border white-bg trans">#</div>
      <% end %>
    <div class="col-xs-2"></div>
    </div>  
  </div>
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-4 center"><strong>Spaces Remaining: <%= @pass_lefts_remain %></strong></div>
    <div class="col-xs-4 center"><strong>Spaces Remaining: <%= @pass_rights_remain %></strong></div>
    <div class="col-xs-2"></div>
  </div>

  <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Return to Install'.html_safe, 'javascript:history.go(-1);', class: "btn btn-custom3 btn-sm small-block" %>

  <hr class="light-smoke">

</div>