
<% @title = current_user.s_name1 + " Call Sheet Summary - Definite6.com" %>

<br>

<p class="large-text center">Call Sheet Summary</p>

<div class="thin-container">

  <br>
  <br>

  <div class="row row-no-gutter"> 
    <div class="col-xs-2"></div> 
    <div class="col-xs-8"><div class="center summary-border htlightwhite"><strong><%= current_user.s_name1 %></strong></div></div>
    <div class="col-xs-2"></div>
  </div>
  <div class="row row-no-gutter"> 
    <div class="col-xs-2"></div> 
    <div class="col-xs-4">        
      <% @plays.openers_left.each do |play| %>
        <div class="center summary-border white-bg" ><%= play.fullname %></div>
      <% end %> 
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_left_remain < 15 %>">1</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_left_remain < 14 %>">2</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_left_remain < 13 %>">3</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_left_remain < 12 %>">4</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_left_remain < 11 %>">5</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_left_remain < 10 %>">6</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_left_remain < 9 %>">7</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_left_remain < 8 %>">8</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_left_remain < 7 %>">9</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_left_remain < 6 %>">10</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_left_remain < 5 %>">11</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_left_remain < 4 %>">12</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_left_remain < 3 %>">13</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_left_remain < 2 %>">14</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_left_remain < 1 %>">15</div>
    </div>  
    <div class="col-xs-4">        
      <% @plays.openers_right.each do |play| %>
        <div class="center summary-border white-bg" ><%= play.fullname %></div>
      <% end %>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_right_remain < 15 %>">1</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_right_remain < 14 %>">2</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_right_remain < 13 %>">3</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_right_remain < 12 %>">4</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_right_remain < 11 %>">5</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_right_remain < 10 %>">6</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_right_remain < 9 %>">7</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_right_remain < 8 %>">8</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_right_remain < 7 %>">9</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_right_remain < 6 %>">10</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_right_remain < 5 %>">11</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_right_remain < 4 %>">12</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_right_remain < 3 %>">13</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_right_remain < 2 %>">14</div>
      <div class="center summary-border white-bg trans <%= 'hidden' if @openers_right_remain < 1 %>">15</div>
    <div class="col-xs-2"></div>
    </div>  
  </div>
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-4 center"><strong>Spaces Remaining: <%= @openers_left_remain %></strong></div>
    <div class="col-xs-4 center"><strong>Spaces Remaining: <%= @openers_right_remain %></strong></div>
    <div class="col-xs-2"></div>
  </div>

  <%= link_to 'Return to Install', 'javascript:history.go(-1);', class: "btn btn-custom3 btn-sm small-block" %>

  <hr class="light-smoke">

</div>






