<%= form_for(@saved_formation) do |f| %>
  <% if @saved_formation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@saved_formation.errors.count, "error") %> prohibited this saved_formation from being saved:</h2>

      <ul>
      <% @saved_formation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
