<p id="notice"><%= notice %></p>

<h2>Unsubscribers</h2>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Email</th>
          <th>Added Date & Time</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @unsubscribes.each do |unsubscribe| %>
          <tr>
            <td><%= unsubscribe.email %></td>
            <td><%= unsubscribe.created_at.strftime("%B %d, %Y %I:%M %P ") %></td>
            <td><%= link_to 'Show', unsubscribe %></td>
            <td><%= link_to 'Edit', edit_unsubscribe_path(unsubscribe) %></td>
            <td><%= link_to 'Destroy', unsubscribe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'Add an Unsubscriber', new_unsubscribe_path %>
