<%= form_for [@event, @play] do |f| %>
  <% if @play.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@play.errors.count, "error") %> prohibited this play from being saved:</h2>

      <ul>
      <% @play.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :piece1 %><br>
    <%= f.text_field :piece1 %>
  </div>

  <div class="field form-group">
    <div class="checkbox-inline">
      <%= f.check_box :period1 %>
        <%= f.label :period1, "Practice in session 1?" %><br>
    </div>
  </div>

  <div class="field form-group">
    <div class="checkbox-inline">
      <%= f.check_box :period2 %>
        <%= f.label :period2, "Practice in session 2?" %><br>
    </div>
  </div>

  <div class="field form-group">
    <div class="checkbox-inline">
      <%= f.check_box :period3 %>
        <%= f.label :period3, "Practice in session 3?" %><br>
    </div>
  </div>

  <div class="field form-group">
    <div class="checkbox-inline">
      <%= f.check_box :period4 %>
        <%= f.label :period4, "Practice in session 4?" %><br>
    </div>
  </div>


  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.number_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
