  
<tr>
  <td><%= check_box_tag "play_ids[]", multiple_play.id, false, {:class => "play-checkbox #{multiple_play.play_type} #{multiple_play.hash_mark}", :id => "box-#{multiple_play.id}"} %></td>
  <td><%= multiple_play.fullname %></td>
  <td class="table-center xs-screen-hide" id="type-<%= multiple_play.id %>"><%= multiple_play.play_type %></td>
  <td class="table-center xs-screen-hide" id="hash-<%= multiple_play.id %>"><%= multiple_play.hash_mark %></td>
</tr>
