<button type="button" class="btn btn-custom1 btn-block" data-toggle="modal" data-target="#mynewplay">
  Add New Play    
</button>

<!-- Modal - new plays -->
<%= form_for [@event, @new_play], html: {data: {behavior: "has-saved-plays"}}, remote: true do |f| %>
<div class="modal fade list-modal" id="mynewplay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><strong>Add a New Play</strong></h4>
      </div>
      <div class="modal-body">
        
        <div class="row">
          <div class="field col-md-6 padding-sm">
            <%= f.label :piece1, "Formation" %><br>
            <%= f.text_field :piece1, class: "form-control", id: "formation"%>
          </div>
          <div class="field col-md-6 padding-sm">
            <%= f.label :piece2, "Play" %><br>
            <%= f.text_field :piece2, class: "form-control", id: "play-call"%>
          </div>
        </div>

        <div class="saved-formations-and-plays">
          <div class="row">
            <div class="field col-md-6 padding-sm">
              <div class="form-group">
                <%= select_tag "saved_formations", options_for_select(SavedFormation.where(:user_id => current_user.id).map{ |sm| [sm.title, data: {body: sm.title}] }), prompt: "Saved formations", class: "form-control input-sm", id: "formation-dropdown", data: {behavior: "saved-formation-select"} %>
              </div>
            </div>
            <div class="field col-md-6 padding-sm">
              <div class="form-group">
                <%= select_tag "saved_plays", options_for_select(SavedPlay.where(:user_id => current_user.id).map{ |sm| [sm.title, data: {body: sm.title}] }), prompt: "Saved plays", class: "form-control input-sm", id: "play-dropdown", data: {behavior: "saved-play-select"} %>
              </div>
            </div>
          </div>
        </div>  

        <div class="row">
          <button type="button" class="btn btn-custom3 btn-sm show-saved-plays">Saved Formations & Plays</button>
        </div>
          
        <br>
        <hr>
          
        <div class="table">
          <div class="tr">
            <span class="td script-col1"><strong>Practice in Segment:</strong></span>
            <span class="td script-col2 center">1</span>
            <span class="td script-col3 center">2</span>
            <span class="td script-col3 center">3</span>
            <span class="td script-col3 center">4</span>
          </div>
          <div class="tr">
            <span class="script-col1 td"></span>
            <span class="script-col2 td center"><%= f.check_box :period1, checked: "checked", class: "segment-check" %></span>
            <span class="script-col3 td center"><%= f.check_box :period2, checked: "checked", class: "segment-check" %></span>
            <span class="script-col3 td center"><%= f.check_box :period3, checked: "checked", class: "segment-check" %></span>
            <span class="script-col3 td center"><%= f.check_box :period4, checked: "checked", class: "segment-check" %></span>
          </div>
        </div>

        <hr>

        <button type="button" class="btn btn-custom1 btn-sm", id="assign-situation-button">Assign Situation Info</button>
        <br>
        <br>

        <div id="situations">
          <div class="form-group">
            <%= f.label :play_type, "Run/Pass" %> 
            <div>
              <%= f.select(:play_type, options_for_select([[' ', ' '], ['Run', 'Run'], ['Pass', 'Pass']]), {}, {class: "form-control"}) %>
            </div>  
          </div>

          <div class="form-group">
            <%= f.label :hash_mark, "Hash" %> 
            <div>
              <%= f.select(:hash_mark, options_for_select([[' ', ' '], ['Left', 'Left'], ['Right', 'Right']]), {}, {class: "form-control"}) %>
            </div>  
          </div>

          <div class="media">
            <div class="media-body">
              <table class="table table-hover">  
                <thead>
                  <tr>
                    <th>Situation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="wide-td">
                      <div class="form-group">                        
                        <%= f.select(:situation1, options_for_select([[' ', ' '], ["#{current_user.s_name1}", 'Opener'], ["#{current_user.s_name2}", '1st/2nd & 10'], ["#{current_user.s_name3}", '2nd & Long'], ["#{current_user.s_name4}", '2nd & Medium'], ["#{current_user.s_name5}", '2nd & Short'], ["#{current_user.s_name6}", '3rd & Long'],["#{current_user.s_name7}", '3rd & Medium'], ["#{current_user.s_name8}", '3rd & Short'], ["#{current_user.s_name9}", 'Redzone'], ["#{current_user.s_name10}", 'Goal Line'], ["#{current_user.s_name11}", 'Coming Out'], ["#{current_user.s_name12}", 'Custom 1'], ["#{current_user.s_name13}", 'Custom 2'], ["#{current_user.s_name14}", 'Custom 3'],]), {}, {class: "form-control"}) %>
                      </div> 
                    </td>
                    <td class="slim-td">
                      <button type="button" class="btn btn-custom3 btn-sm pull-right", id="situation-button1">Add Another Situation</button>
                    </td>
                  </tr>
                  <tr id="situation2">
                    <td>
                      <div class="form-group">
                        <%= f.select(:situation2, options_for_select([[' ', ' '], ["#{current_user.s_name1}", 'Opener'], ["#{current_user.s_name2}", '1st/2nd & 10'], ["#{current_user.s_name3}", '2nd & Long'], ["#{current_user.s_name4}", '2nd & Medium'], ["#{current_user.s_name5}", '2nd & Short'], ["#{current_user.s_name6}", '3rd & Long'],["#{current_user.s_name7}", '3rd & Medium'], ["#{current_user.s_name8}", '3rd & Short'], ["#{current_user.s_name9}", 'Redzone'], ["#{current_user.s_name10}", 'Goal Line'], ["#{current_user.s_name11}", 'Coming Out'], ["#{current_user.s_name12}", 'Custom 1'], ["#{current_user.s_name13}", 'Custom 2'], ["#{current_user.s_name14}", 'Custom 3'],]), {}, {class: "form-control"}) %>
                      </div> 
                    </td>
                    <td>
                      <button type="button" class="btn btn-custom3 btn-sm pull-right", id="situation-button2">Add Another Situation</button>
                    </td>                  
                  </tr>  
                  <tr id="situation3">
                    <td>
                      <div class="form-group">
                        <div id="event-select">
                        <%= f.select(:situation3, options_for_select([[' ', ' '], ["#{current_user.s_name1}", 'Opener'], ["#{current_user.s_name2}", '1st/2nd & 10'], ["#{current_user.s_name3}", '2nd & Long'], ["#{current_user.s_name4}", '2nd & Medium'], ["#{current_user.s_name5}", '2nd & Short'], ["#{current_user.s_name6}", '3rd & Long'],["#{current_user.s_name7}", '3rd & Medium'], ["#{current_user.s_name8}", '3rd & Short'], ["#{current_user.s_name9}", 'Redzone'], ["#{current_user.s_name10}", 'Goal Line'], ["#{current_user.s_name11}", 'Coming Out'], ["#{current_user.s_name12}", 'Custom 1'], ["#{current_user.s_name13}", 'Custom 2'], ["#{current_user.s_name14}", 'Custom 3'],]), {}, {class: "form-control"}) %>
                        </div>
                      </div> 
                    </td>
                    <td>
                      <button type="button" class="btn btn-custom3 btn-sm pull-right", id="situation-button3">Add Another Situation</button>
                    </td>                  
                  </tr>  
                  <tr id="situation4">
                    <td>
                      <div class="form-group">
                        <div id="event-select">
                        <%= f.select(:situation4, options_for_select([[' ', ' '], ["#{current_user.s_name1}", 'Opener'], ["#{current_user.s_name2}", '1st/2nd & 10'], ["#{current_user.s_name3}", '2nd & Long'], ["#{current_user.s_name4}", '2nd & Medium'], ["#{current_user.s_name5}", '2nd & Short'], ["#{current_user.s_name6}", '3rd & Long'],["#{current_user.s_name7}", '3rd & Medium'], ["#{current_user.s_name8}", '3rd & Short'], ["#{current_user.s_name9}", 'Redzone'], ["#{current_user.s_name10}", 'Goal Line'], ["#{current_user.s_name11}", 'Coming Out'], ["#{current_user.s_name12}", 'Custom 1'], ["#{current_user.s_name13}", 'Custom 2'], ["#{current_user.s_name14}", 'Custom 3'],]), {}, {class: "form-control"}) %>
                        </div>
                      </div> 
                    </td>
                    <td>
                      <button type="button" class="btn btn-custom3 btn-sm pull-right", id="situation-button4">Add Another Situation</button>
                    </td>                  
                  </tr> 
                  <tr id="situation5">
                    <td>
                      <div class="form-group">
                        <div id="event-select">
                        <%= f.select(:situation5, options_for_select([[' ', ' '], ["#{current_user.s_name1}", 'Opener'], ["#{current_user.s_name2}", '1st/2nd & 10'], ["#{current_user.s_name3}", '2nd & Long'], ["#{current_user.s_name4}", '2nd & Medium'], ["#{current_user.s_name5}", '2nd & Short'], ["#{current_user.s_name6}", '3rd & Long'],["#{current_user.s_name7}", '3rd & Medium'], ["#{current_user.s_name8}", '3rd & Short'], ["#{current_user.s_name9}", 'Redzone'], ["#{current_user.s_name10}", 'Goal Line'], ["#{current_user.s_name11}", 'Coming Out'], ["#{current_user.s_name12}", 'Custom 1'], ["#{current_user.s_name13}", 'Custom 2'], ["#{current_user.s_name14}", 'Custom 3'],]), {}, {class: "form-control"}) %>
                        </div>
                      </div> 
                    </td>
                    <td>
                      <button type="button" class="btn btn-custom3 btn-sm pull-right", id="situation-button5">Add Another Situation</button>
                    </td>                  
                  </tr> 
                  <tr id="situation6">
                    <td>
                      <div class="form-group">
                        <div id="event-select">
                        <%= f.select(:situation6, options_for_select([[' ', ' '], ["#{current_user.s_name1}", 'Opener'], ["#{current_user.s_name2}", '1st/2nd & 10'], ["#{current_user.s_name3}", '2nd & Long'], ["#{current_user.s_name4}", '2nd & Medium'], ["#{current_user.s_name5}", '2nd & Short'], ["#{current_user.s_name6}", '3rd & Long'],["#{current_user.s_name7}", '3rd & Medium'], ["#{current_user.s_name8}", '3rd & Short'], ["#{current_user.s_name9}", 'Redzone'], ["#{current_user.s_name10}", 'Goal Line'], ["#{current_user.s_name11}", 'Coming Out'], ["#{current_user.s_name12}", 'Custom 1'], ["#{current_user.s_name13}", 'Custom 2'], ["#{current_user.s_name14}", 'Custom 3'],]), {}, {class: "form-control"}) %>
                        </div>
                      </div> 
                    </td>
                    <td>
                      <button type="button" class="btn btn-custom3 btn-sm pull-right", id="situation-button6">Add Another Situation</button>
                    </td>                  
                  </tr> 
                  <tr id="situation7">
                    <td>
                      <div class="form-group">
                        <div id="event-select">
                        <%= f.select(:situation7, options_for_select([[' ', ' '], ["#{current_user.s_name1}", 'Opener'], ["#{current_user.s_name2}", '1st/2nd & 10'], ["#{current_user.s_name3}", '2nd & Long'], ["#{current_user.s_name4}", '2nd & Medium'], ["#{current_user.s_name5}", '2nd & Short'], ["#{current_user.s_name6}", '3rd & Long'],["#{current_user.s_name7}", '3rd & Medium'], ["#{current_user.s_name8}", '3rd & Short'], ["#{current_user.s_name9}", 'Redzone'], ["#{current_user.s_name10}", 'Goal Line'], ["#{current_user.s_name11}", 'Coming Out'], ["#{current_user.s_name12}", 'Custom 1'], ["#{current_user.s_name13}", 'Custom 2'], ["#{current_user.s_name14}", 'Custom 3'],]), {}, {class: "form-control"}) %>
                        </div>
                      </div> 
                    </td>
                    <td>
                      <button type="button" class="btn btn-custom3 btn-sm pull-right", id="situation-button7">Add Another Situation</button>
                    </td>                  
                  </tr> 
                  <tr id="situation8">
                    <td>
                      <div class="form-group">
                        <div id="event-select">
                        <%= f.select(:situation8, options_for_select([[' ', ' '], ["#{current_user.s_name1}", 'Opener'], ["#{current_user.s_name2}", '1st/2nd & 10'], ["#{current_user.s_name3}", '2nd & Long'], ["#{current_user.s_name4}", '2nd & Medium'], ["#{current_user.s_name5}", '2nd & Short'], ["#{current_user.s_name6}", '3rd & Long'],["#{current_user.s_name7}", '3rd & Medium'], ["#{current_user.s_name8}", '3rd & Short'], ["#{current_user.s_name9}", 'Redzone'], ["#{current_user.s_name10}", 'Goal Line'], ["#{current_user.s_name11}", 'Coming Out'], ["#{current_user.s_name12}", 'Custom 1'], ["#{current_user.s_name13}", 'Custom 2'], ["#{current_user.s_name14}", 'Custom 3'],]), {}, {class: "form-control"}) %>
                        </div>
                      </div> 
                    </td>
                    <td>
                      <button type="button" class="btn btn-custom3 btn-sm pull-right", id="situation-button8">Add Another Situation</button>
                    </td>                  
                  </tr> 
                  <tr id="situation9">
                    <td>
                      <div class="form-group">
                        <div id="event-select">
                        <%= f.select(:situation9, options_for_select([[' ', ' '], ["#{current_user.s_name1}", 'Opener'], ["#{current_user.s_name2}", '1st/2nd & 10'], ["#{current_user.s_name3}", '2nd & Long'], ["#{current_user.s_name4}", '2nd & Medium'], ["#{current_user.s_name5}", '2nd & Short'], ["#{current_user.s_name6}", '3rd & Long'],["#{current_user.s_name7}", '3rd & Medium'], ["#{current_user.s_name8}", '3rd & Short'], ["#{current_user.s_name9}", 'Redzone'], ["#{current_user.s_name10}", 'Goal Line'], ["#{current_user.s_name11}", 'Coming Out'], ["#{current_user.s_name12}", 'Custom 1'], ["#{current_user.s_name13}", 'Custom 2'], ["#{current_user.s_name14}", 'Custom 3'],]), {}, {class: "form-control"}) %>
                        </div>
                      </div> 
                    </td>
                    <td>
                      <button type="button" class="btn btn-custom3 btn-sm pull-right", id="situation-button9">Add Another Situation</button>
                    </td>                  
                  </tr> 
                  <tr id="situation10">
                    <td>
                      <div class="form-group">
                        <div id="event-select">
                        <%= f.select(:situation10, options_for_select([[' ', ' '], ["#{current_user.s_name1}", 'Opener'], ["#{current_user.s_name2}", '1st/2nd & 10'], ["#{current_user.s_name3}", '2nd & Long'], ["#{current_user.s_name4}", '2nd & Medium'], ["#{current_user.s_name5}", '2nd & Short'], ["#{current_user.s_name6}", '3rd & Long'],["#{current_user.s_name7}", '3rd & Medium'], ["#{current_user.s_name8}", '3rd & Short'], ["#{current_user.s_name9}", 'Redzone'], ["#{current_user.s_name10}", 'Goal Line'], ["#{current_user.s_name11}", 'Coming Out'], ["#{current_user.s_name12}", 'Custom 1'], ["#{current_user.s_name13}", 'Custom 2'], ["#{current_user.s_name14}", 'Custom 3'],]), {}, {class: "form-control"}) %>
                        </div>
                      </div> 
                    </td>
                    <td>
                      <button type="button" disabled class="btn btn-custom2 btn-sm pull-right", id="situation-button10">All Spaces Used</button>
                    </td>                  
                  </tr>                                                                            
                </tbody>
              </table>  
            </div>
          </div>
        </div>  


      </div>    
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag "Add Play to Install", class: "btn btn-custom1 create-play" %>
      </div>
    </div>
  </div>
</div>
<% end %>
<!-- Modal -->