         
<tr id="play_<%= play.id %>" class="play-table" data-id="<%= play.id %>">
  <td class="play-box"><%= play.fullname %></td>
  <td class="table-center small-screen-hide"><%= play.play_type %></td>
  <td class="table-center small-screen-hide"><%= play.hash_mark %></td>
  <td class="table-center small-screen-hide period-box"><%= check_box_tag "period1", play.id, play.period1, class: "period1-check" %></td>
  <td class="table-center small-screen-hide period-box"><%= check_box_tag "period2", play.id, play.period2, class: "period2-check" %></td>
  <td class="table-center small-screen-hide period-box"><%= check_box_tag "period3", play.id, play.period3, class: "period3-check" %></td>
  <td class="table-center small-screen-hide period-box"><%= check_box_tag "period4", play.id, play.period4, class: "period4-check" %></td>
  <td class="no-sort"><%= link_to 'Update or Delete', edit_event_play_path(@event, play), class: "btn btn-custom4 btn-xs update-play-button" %></td>
</tr>



