
<div class="edit-play-container">  

  <% @title = @play.fullname + " - Definite6.com" %>

  <p id="notice"><%= notice %></p>

  <br>

  <div class="update-play-box">
    <h2 class="center"><strong><%= @play.fullname %></strong></h2>

    <hr class="light-blue no-margin">

    <%= form_for [@event, @play] do |f| %>
      <% if @play.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@play.errors.count, "error") %> prohibited this play from being saved:</h2>

          <ul>
          <% @play.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <h3 class="no-top-margin">Play Name</h3>
      
      <div class="row">
        <div class="field col-xs-6">
          <%= f.label :piece1, "Formation" %><br>
          <%= f.text_field :piece1, class: "form-control", id: "formation-text-#{@play.id}" %>
        </div>
        <div class="field col-xs-6">
          <%= f.label :piece2, "Play" %><br>
          <%= f.text_field :piece2, class: "form-control", id: "play-text-#{@play.id}" %>
        </div>
      </div>

      <div class="saved-formations-and-plays">
        <div class="row">
          <div class="field col-xs-6">
            <div class="form-group">
              <%= select_tag "saved_formations", options_for_select(SavedFormation.where(:user_id => current_user.id).map{ |sm| [sm.title, data: {body: sm.title}] }), prompt: "Saved formations", class: "form-control input-sm formation-drop", id: "saved-formations-update-#{@play.id}" %>
            </div>
          </div>
          <div class="field col-xs-6">
            <div class="form-group">
              <%= select_tag "saved_plays", options_for_select(SavedPlay.where(:user_id => current_user.id).map{ |sm| [sm.title, data: {body: sm.title}] }), prompt: "Saved plays", class: "form-control input-sm play-drop", id: "saved-plays-update-#{@play.id}" %>
            </div>
          </div>
        </div>
      </div>   

      <button type="button" class="btn btn-custom3 btn-sm show-saved-plays-edit">Saved Formations & Plays</button>

      <hr class="light-blue">

      <h3 id="edit-practice-link">Practice Info <i class="fa fa-arrow-circle-right right-arrow ht blue" aria-hidden="true"></i><i class="fa fa-arrow-circle-down down-arrow blue" aria-hidden="true"></i></h3>
      
      <div id="edit-practice-info">

        <div class="table">
          <div class="tr">
            <span class="td script-col1"><strong>Practice in Segment:</strong></span>
            <span class="td script-col2 center">1</span>
            <span class="td script-col3 center">2</span>
            <span class="td script-col3 center">3</span>
            <span class="td script-col3 center">4</span>
          </div>
          <div class="tr">
            <span class="script-col1 grey-font td"><i>For use with standard practice script</i></span>
            <span class="script-col2 td center"><%= f.check_box :period1 %></span>
            <span class="script-col3 td center"><%= f.check_box :period2 %></span>
            <span class="script-col3 td center"><%= f.check_box :period3 %></span>
            <span class="script-col3 td center"><%= f.check_box :period4 %></span>
          </div>
          <div class="tr">
            <span class="script-col1 td"><strong>Number of Reps:&nbsp</strong><span><%= @play.play_count(@event.scripts) %></span></span>
            <span class="script-col2 td center"></span>
            <span class="script-col3 td center"></span>
            <span class="script-col3 td center"></span>
            <span class="script-col3 td center"></span>
          </div>
        </div>
      
      </div>

      <hr class="light-smoke">

      <h3 id="edit-situations-link">Situational Info <i class="fa fa-arrow-circle-right right-arrow ht blue" aria-hidden="true"></i><i class="fa fa-arrow-circle-down down-arrow blue" aria-hidden="true"></i></h3>

      <div id="edit-play-situations">

        <div class="form-group">
          <%= f.label :play_type, "Run/Pass" %> 
          <div>
            <%= f.select(:play_type, options_for_select([[' ', ' '], ['Run', 'Run'], ['Pass', 'Pass']], :selected => f.object.play_type), {}, {class: "form-control"}) %>
          </div>  
        </div>

        <div class="form-group hash">
          <%= f.label :hash_mark, "Hash" %> 
          <div>
            <%= f.select(:hash_mark, options_for_select([[' ', ' '], ['Left', 'Left'], ['Right', 'Right']], :selected => f.object.hash_mark), {}, {class: "form-control"}) %>
          </div>  
        </div>

        <h4>Situations</h4>

        <div class="table add-play-sit-table">
          <div class="tr tr-hover">
            <span class="td"><%= current_user.s_name1 %></span>
            <span class="td center"><%= f.check_box :situation1 %></span>
          </div>
          <div class="tr tr-hover">
            <span class="td"><%= current_user.s_name2 %></span>
            <span class="td center"><%= f.check_box :situation2 %></span>
          </div>
          <div class="tr tr-hover">
            <span class="td"><%= current_user.s_name3 %></span>
            <span class="td center"><%= f.check_box :situation3 %></span>
          </div>
          <div class="tr tr-hover">
            <span class="td"><%= current_user.s_name4 %></span>
            <span class="td center"><%= f.check_box :situation4 %></span>
          </div>
          <div class="tr tr-hover">
            <span class="td"><%= current_user.s_name5 %></span>
            <span class="td center"><%= f.check_box :situation5 %></span>
          </div>
          <div class="tr tr-hover">
            <span class="td"><%= current_user.s_name6 %></span>
            <span class="td center"><%= f.check_box :situation6 %></span>
          </div>
          <div class="tr tr-hover">
            <span class="td"><%= current_user.s_name7 %></span>
            <span class="td center"><%= f.check_box :situation7 %></span>
          </div>
          <div class="tr tr-hover">
            <span class="td"><%= current_user.s_name8 %></span>
            <span class="td center"><%= f.check_box :situation8 %></span>
          </div>
          <div class="tr tr-hover">
            <span class="td"><%= current_user.s_name9 %></span>
            <span class="td center"><%= f.check_box :situation9 %></span>
          </div> 
          <div class="tr tr-hover">
            <span class="td"><%= current_user.s_name10 %></span>
            <span class="td center"><%= f.check_box :situation10 %></span>
          </div> 
          <div class="tr tr-hover">
            <span class="td"><%= current_user.s_name11 %></span>
            <span class="td center"><%= f.check_box :situation11 %></span>
          </div> 
          <div class="tr tr-hover">
            <span class="td"><%= current_user.s_name12 %></span>
            <span class="td center"><%= f.check_box :situation12 %></span>
          </div> 
          <div class="tr tr-hover">
            <span class="td"><%= current_user.s_name13 %></span>
            <span class="td center"><%= f.check_box :situation13 %></span>
          </div> 
          <div class="tr tr-hover">
            <span class="td"><%= current_user.s_name14 %></span>
            <span class="td center"><%= f.check_box :situation14 %></span>
          </div>                                    
        </div>
       
      </div>

      <hr class="light-smoke">
      
      <div>
        <%= f.button "Update Play", class: "btn btn-custom1 btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Updating Play..."} %>

        <hr>

        <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Install Page'.html_safe, @event, class: "btn btn-custom3 btn-sm small-block" %>
        <br>
        <br>
        <div>
          <%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Quick Situation Assignment'.html_safe, event_quick_assign_path(@event), class: "btn btn-custom3 btn-sm small-block" %>

          <%= link_to '<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Remove from Install'.html_safe, [@event, @play], method: :delete, class: "btn btn-custom2 btn-sm small-block pull-right", data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      
    <% end %>
  </div>
</div>





