<p id="notice"><%= notice %></p>

<p>
  <strong>Piece1:</strong>
  <%= @play.piece1 %>
</p>

<p>
  <strong>Event:</strong>
  <%= @play.event_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @play.user_id %>
</p>

<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>
