<div class="tr" id="gamecall_<%= gamecall.id %>">
  <span class="script-col1 td"><%= gamecall.title %></span>
  <span class="script-col2 td table-center"><%= gamecall.start_time.strftime("%m-%d-%Y") if gamecall.start_time? %></span>
  <span class="script-col3 td"><%= link_to 'Open Sheet', [@event, gamecall], class: "btn btn-custom3 btn-sm pull-right" %></span>
  <span class="script-col3 td"><button type="button" id="update-gamecall_<%= gamecall.id %>" class="btn btn-custom4 btn-sm pull-right  update-gamecall-button small-screen-hide" data-toggle="modal" data-target="#myupdategamecall_<%= gamecall.id %>">
    Update or Delete Sheet
  </button></span>
</div>

<div id="gamecall<%= gamecall.id %>">
  <!-- Modal - update gamecalls -->
  <%= form_for [@event, gamecall], :method => :put, remote: true do |f| %>
  <div class="modal fade" id="myupdategamecall_<%= gamecall.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title center" id="myModalLabel"><strong><%= gamecall.title %></strong></h4>
        </div>

        <div class="modal-body">
          <div class="field">
            <%= f.label :title %><br>
            <%= f.text_field :title, class: "form-control play_piece1" %>
          </div>

          <div>
            <span class="bold-font">Date: </span><span id="date-<%=gamecall.id%>"><%= gamecall.start_time.strftime("%m-%d-%Y") %></span>
              &nbsp&nbsp|&nbsp&nbsp<span class="pointer blue underline italic change-date-check" id="<%= gamecall.id %>">Change Date</span>
          </div>  
                                                         
          <br>

          <div class="gamecall-change-date", id="gamecall-<%= gamecall.id%>">          
            <div class="field">
              <%= f.datetime_select_no_time :start_time, class: "form-control event_start_time", id: "game-#{gamecall.id}" %>
            </div>  
          </div>       
              
          <%= link_to '<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete Call Sheet'.html_safe, [@event, gamecall], method: :delete, class: "btn btn-custom2", remote: true, data: { confirm: 'Are you sure?', dismiss: "modal", backdrop: "false" } %>
        </div>
      
        
        <div class="modal-footer"> 
          <button type="button" class="btn btn-custom1 btn-block update-call-button" id="game_sub<%= gamecall.id%>">Update Call Sheet</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <!-- Modal -->
</div>