<p id="notice"><%= notice %></p>

<h1>Listing Gamecalls</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Gdata</th>
      <th>Event</th>
      <th>User</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gamecalls.each do |gamecall| %>
      <tr>
        <td><%= gamecall.title %></td>
        <td><%= gamecall.gdata %></td>
        <td><%= gamecall.event_id %></td>
        <td><%= gamecall.user_id %></td>
        <td><%= gamecall.start_time %></td>
        <td><%= gamecall.end_time %></td>
        <td><%= link_to 'Show', gamecall %></td>
        <td><%= link_to 'Edit', edit_gamecall_path(gamecall) %></td>
        <td><%= link_to 'Destroy', gamecall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gamecall', new_gamecall_path %>
