<p>
  <div id="gdata" class="hidden"><%= @gamecall.gdata %></div>
</p>
<p>
  <div id="gdata2" class="hidden"><%= @gamecall.gdata2 %></div>
</p>

<p>
  <div id="gamecall-title1" class="hidden"><%= @gamecall.sit_title1 %></div>
</p>
<p>
  <div id="gamecall-title2" class="hidden"><%= @gamecall.sit_title2 %></div>
</p>
<p>
  <div id="gamecall-title3" class="hidden"><%= @gamecall.sit_title3 %></div>
</p>
<p>
  <div id="gamecall-title4" class="hidden"><%= @gamecall.sit_title4 %></div>
</p>
<p>
  <div id="gamecall-title5" class="hidden"><%= @gamecall.sit_title5 %></div>
</p>
<p>
  <div id="gamecall-title6" class="hidden"><%= @gamecall.sit_title6 %></div>
</p>
<p>
  <div id="gamecall-title7" class="hidden"><%= @gamecall.sit_title7 %></div>
</p>
<p>
  <div id="gamecall-title8" class="hidden"><%= @gamecall.sit_title8 %></div>
</p>
<p>
  <div id="gamecall-title9" class="hidden"><%= @gamecall.sit_title9 %></div>
</p>
<p>
  <div id="gamecall-title10" class="hidden"><%= @gamecall.sit_title10 %></div>
</p>
<p>
  <div id="gamecall-title11" class="hidden"><%= @gamecall.sit_title11 %></div>
</p>
<p>
  <div id="gamecall-title12" class="hidden"><%= @gamecall.sit_title12 %></div>
</p>
<p>
  <div id="gamecall-title13" class="hidden"><%= @gamecall.sit_title13 %></div>
</p>
<p>
  <div id="gamecall-title14" class="hidden"><%= @gamecall.sit_title14 %></div>
</p>


<p>
  <div id="gamecall-color1" class="hidden"><%= @gamecall.sit_color1 %></div>
</p>
<p>
  <div id="gamecall-color2" class="hidden"><%= @gamecall.sit_color2 %></div>
</p>
<p>
  <div id="gamecall-color3" class="hidden"><%= @gamecall.sit_color3 %></div>
</p>
<p>
  <div id="gamecall-color4" class="hidden"><%= @gamecall.sit_color4 %></div>
</p>
<p>
  <div id="gamecall-color5" class="hidden"><%= @gamecall.sit_color5 %></div>
</p>
<p>
  <div id="gamecall-color6" class="hidden"><%= @gamecall.sit_color6 %></div>
</p>
<p>
  <div id="gamecall-color7" class="hidden"><%= @gamecall.sit_color7 %></div>
</p>
<p>
  <div id="gamecall-color8" class="hidden"><%= @gamecall.sit_color8 %></div>
</p>
<p>
  <div id="gamecall-color9" class="hidden"><%= @gamecall.sit_color9 %></div>
</p>
<p>
  <div id="gamecall-color10" class="hidden"><%= @gamecall.sit_color10 %></div>
</p>
<p>
  <div id="gamecall-color11" class="hidden"><%= @gamecall.sit_color11 %></div>
</p>
<p>
  <div id="gamecall-color12" class="hidden"><%= @gamecall.sit_color12 %></div>
</p>
<p>
  <div id="gamecall-color13" class="hidden"><%= @gamecall.sit_color13 %></div>
</p>
<p>
  <div id="gamecall-color14" class="hidden"><%= @gamecall.sit_color14 %></div>
</p>




<%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Return to Call Sheet'.html_safe, [@event, @gamecall], class: "btn btn-custom3 btn-sm print-button" %>
<%= link_to 'Print <i class="fa fa-print"></i>'.html_safe, '#', class: "btn btn-custom1 btn-sm print-button", :onclick => 'window.print();return false;'%>

<p></p>

<div id="gamecallPrint1"></div>

<footer></footer>

<br>
<br>

<div id="gamecallPrint2"></div>

<%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i> Return to Call Sheet'.html_safe, [@event, @gamecall], class: "btn btn-custom3 btn-sm print-button" %>
<%= link_to 'Print <i class="fa fa-print"></i>'.html_safe, '#', class: "btn btn-custom1 btn-sm print-button", :onclick => 'window.print();return false;'%>